/*dashboard page*/
.icon-main-row{
	padding: 35px 20px;
	/*background: #eee;*/
}
.dashboard-icon-field .icon-block{
	/*background: red;*/
	/*border: 1px solid transparent;*/
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px #eee;
	-webkit-box-shadow: 0px 0px 10px 0px #eee;
	-moz-box-shadow: 0px 0px 10px 0px #eee;
	-o-box-shadow: 0px 0px 10px 0px #eee;
}
.dashboard-icon-field .icon-block:hover{
	box-shadow: 0px 0px 30px 0px #ddd;
	-webkit-box-shadow: 0px 0px 30px 0px #ddd;
	-moz-box-shadow: 0px 0px 30px 0px #ddd;
	-o-box-shadow: 0px 0px 30px 0px #ddd;


}
.dashboard-icon-field .title h4{
	margin-bottom: 10px !important;
	margin: 0;
	color: #5297B9;
}
.dashboard-icon-field .icon-block .svg-icon{
	width: 50px;
	fill: #599A8D;
}
.dashboard-icon-field .icon-block h5{
	margin: 0;
	color: #5297B9;
	font-weight: 500;
	font-size: 20px;
}
/*end dashboard page*/
/*resources page css*/
.aaa{
	border: 1px solid #ddd;
}
.row-fixed{
	max-width: 750px;
	margin:0 auto;
}
.row-1024{
	max-width: 1024px;
	margin:0 auto;
}
.resource-block .resource-img-block{
	max-width: 605px;
	width: 100%;
	/*height: 480px;*/
	margin:0 auto;
	box-shadow: 0 0 10px 0px #e6e6e6;
	-webkit-box-shadow: 0 0 10px 0px #e6e6e6;
	-moz-box-shadow: 0 0 10px 0px #e6e6e6;
	-o-box-shadow: 0 0 10px 0px #e6e6e6;
	overflow: hidden;
}
.resource-block .img-div{
	height: 272px;
	width: 605px;
	display: table-cell;
	text-align: center;
	line-height: 272px;
}
.resource-block .video-div{
	height: 270px;
}
.resource-block .video-div video{
	width: 100%;
	outline: 0;
	background: #000;
	height: 255px;
}
.resource-block .resource-img-block img{
	/*width: 100%;*/
	max-width: 605px;
	max-height: 272px;
	transition: transform .2s;
}
.video-field .resource-content-block{

}
.resource-block .resource-img-block img:hover{
	transform: scale(1.1);
}
.resource-content-block{
	margin: 15px;
	padding: 10px 10px 20px 10px;
	margin-top: -15px !important;
	background: #fff;
	z-index: 100;
	position: relative;
}
.resource-content-block .content{
	min-height: 145px;
}
.resource-title{
	font-size: 20px;
	font-weight: 600;
	color: #5E992B;
}
.resource-text{
	font-size: 16px;
	font-weight: 600;
	color: #4b5c75;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.btn-empty-md{
	font-size: 16px;
	min-width: 170px !important;
	background: transparent !important;
	border: 1px solid #D9D9D9;
	color: #8b8b8b;
	cursor: pointer;
	padding: 8px 15px;
	/* font-weight: 600; */
	border-radius: 70px;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;

}
.btn-empty-md:hover{
	background: linear-gradient(-90deg, #74a857, #468fb1) !important;
	background: -webkit-linear-gradient(-90deg, #74a857, #468fb1) !important;
	background: -moz-linear-gradient(-90deg, #74a857, #468fb1) !important;
	background: -o-linear-gradient(-90deg, #74a857, #468fb1) !important;
	border: 1px solid transparent;
	color: #fff;
	-webkit-box-shadow: 0px 3px 10px rgba(116,168,87,1);
	-moz-box-shadow: 0px 3px 10px rgba(116,168,87,1);
	box-shadow: 0px 3px 10px rgba(116,168,87,1);
}
/*end resources page css*/

.btn-empty{
	background: transparent;
	border: 1px solid #fff;
	border-radius: 50px;
	/*height: 30px !important;*/
	padding: 4px 15px 4px 40px !important;
	min-width: 120px !important;
	margin-top: -6px;
	font-weight: 500;
	font-size: 16px !important;
	color: #fff;
	box-shadow: none !important;
}
.btn-empty:hover{
	color: #fff;
}
.contact-info-block{
	padding-right: 20px;
}
.contact-info-block ul{
	margin-bottom: 35px;
}
.contact-info-block p{
	margin-bottom: 0;
	cursor: auto !important;
	width: 215px;
}
.contact-phone{
	margin-bottom: 10px;
	margin-right: 78px;
}
.icon-circle{
	height: 40px;
	width: 40px;
	padding: 9px 12px 10px 10px;
	margin-right: -25px;
	display: inline-block;
	background: red;
	border-radius: 50px;
	position: relative;
	box-shadow: 0px 0px 10px 0px #707070;
	-webkit-box-shadow: 0px 0px 10px 0px #707070;
	-moz-box-shadow: 0px 0px 10px 0px #707070;
	-o-box-shadow: 0px 0px 10px 0px #707070;
	background: -webkit-linear-gradient(-90deg, #74a857, #468fb1);
	-webkit-background: -webkit-linear-gradient(-90deg, #74a857, #468fb1);
	-moz-background: -webkit-linear-gradient(-90deg, #74a857, #468fb1);
	-o-background: -webkit-linear-gradient(-90deg, #74a857, #468fb1);
}
.icon-circle i{
	font-size: 20px;
	color: #fff;
}
/*.duration-btn{
	border-radius: 50px;
	box-shadow: 0 0 10px 0px #ddd;
	padding: 10px 20px;
	}*/

	/*price tabs button*/
	.tab-btns .btn-active{
		background: #468fb1 !important;
		color:#fff !important;
	}
	#price-tab-content-2{
		display: none;
	}
	.price-tabs{
		padding:25px 0px;
		margin: auto !important;
	}
	.price-tabs .tab-btns{
		padding-bottom:5px;
	}
	.price-tabs .tab-btns p{
		font-size:12px;
		color:#000;
		font-weight:600;
	}
	.btn-section{
		border: 1px solid #D8D8D8;
		border-radius: 32px;
		display: inline-flex;
	}
	.price-tabs .tab-btns .tab-left{
		/*height: 64px;*/
		min-width: 160px;
		border-radius:32px;
		color: rgba(66,66,66,.5);
		text-transform: uppercase;
		background-color: transparent;
		margin: 0 !important;
		font-weight:600;
		font-size:14px;
		text-decoration: none;
		padding:15px 20px;
		margin-right:-5px;
		cursor:pointer;
	}

	.price-tabs .tab-btns .tab-right{
		/*height: 64px;*/
		min-width: 160px;
		border-radius:32px;
		color: rgba(66,66,66,.5);
		text-transform: uppercase;
		background-color: transparent;
		font-weight:600;
		font-size:14px;
		text-decoration: none;
		padding:15px 20px;
		cursor:pointer;
	}
	.tab-btns a:hover, .tab-btns .btn-section .active{
		background: #468fb1 !important;
		color:#fff !important;
		-webkit-box-shadow: 0 2px 8px 0 rgba(155,155,155,.32) !important;
		box-shadow: 0 2px 8px 0 rgba(155,155,155,.32) !important;
	} 
	/*end price tabs button*/


	/*responsive css*/
	.toggle-bars{
		font-size:30px;
		cursor:pointer;
		display: none;
	}
	.closebtn{
		display: none;
	}
	/*end toggle btn*/
	.store-home-bg{
		background: url(assets/images/back1.jpg) no-repeat center;
	}
	.store-home-btn{
		opacity:0;
		height:0px;
	}
	.store-text-black{
		font-weight:400 !important; 
		font-size:16px !important;
	}
	.store-section-1{
		max-width:960px; 
		background: rgb(250,250,250); 
		border-radius: 10px; 
		padding: 20px;
	}
	.product-details{
		padding-top:50px !important;
	}
	.product-detail-text{
		font-weight:400 !important;
		font-size:15px !important;
	}
	.products-img-block{
		background:#fff;
	}
	.margin-bottom-20{
		margin-bottom: 20px !important;
	}
	.store-about-block{
		padding:50px 15px !important;
	}
	.store-about-text{
		font-size:18px !important;
		font-weight:400 !important;
	}
	/*end responsive css*/
	/*sitemap page*/
	.v-middle-main {
		line-height: 55px;
		text-align: center;
	}
	.vertical-middle-items {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}
	.line-padding{
		padding: 0;
	}
	.block{
		box-shadow: 0px 0px 10px #d7d7d7;
		-webkit-box-shadow: 0px 0px 10px #d7d7d7;
		-moz-box-shadow: 0px 0px 10px #d7d7d7;
		-o-box-shadow: 0px 0px 10px #d7d7d7;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background:#F0F5F8;
		z-index: 100;
		border:1px solid transparent;
	}
	.block:hover{
		background-color: #fff;
		border: 1px solid #ddd;
	}
	.block-level-1{
		height: 80px;
		width: 110px;
		z-index: 100;
	}
	.block-level-2{
		height: 80px;
		width: 100px;
		z-index: 100;
	}
	.block-level-3{
		height: 65px;
		width: 90px;
		z-index: 100;
	}
	.block-level-4{
		height: 65px;
		width: 75px;
		z-index: 100;
	}
	.block-level-5 {
		height: 60px;
		width: 70px;
		z-index: 100;
	}
	.block-level-3 .v-middle-main {
		line-height: 42px;
	}
	.block-level-4 .v-middle-main {
		line-height: 45px;
	}
	.block-level-5 .v-middle-main {
		line-height: 40px;
	}
	.middle-block{
		margin: 0 auto;
	}
	.head-red{
		background-color: red;
	}
	.head-orange{
		background:#78AB4F;
	}
	.head-light-orange{
		background:#D5A045;
	}
	.head-purple{
		background:#458FB4;
	}
	.head-grey{
		background:#BFCCD5;
	}
	.head-blue{
		background: #4593D5;
	}
	.head-green{
		background-color: #A2762C;
	}
	.block-head{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		height: 20px;
		padding-left: 10px;
	}
	.block-level-5 .block-head .svg-icon {
		width: 13px;
		height: 18px;
	}
	.block-level-5 .block-head {
		padding-left: 5px;
		height: 15px;
	}
	.block-level-4 .block-head {
		padding-left: 5px;
	}
	.block-level-4 .block-head .svg-icon{
		width: 13px;
		height: 13px;
	}
	.block-head .svg-icon{
		width: 20px;
		height: 20px;
	}
	.link-text{
		color:#535353;
		text-transform: uppercase;
		/*font-size: 15px;*/
		font-weight: 600;
	}
	.item-li{
		margin: 0 5px !important;
	}
	.connection-1{
		margin-top: -15px;
		/*margin-right: 2px !important;*/
	}
	.dashboard-connection{
		padding-left: 16px;
	}
	.vertical-line{
		width: 2px;
		height: 25px;
		background-color: #AAA8A8;
		margin: 0 auto;
	}
	.vertical-line-xs{
		height: 20px !important;
	}
	.circle:before{
	/*content: '';
	display: inline-block;
	position: absolute;
	margin-left: -5px;
	height: 10px;
	width: 10px;
	border: 1px solid #AAA8A8;
	border-radius: 50%;
	background-color: #fff;*/
}
.horizontal-line{
	height: 2px;
	background-color: #AAA8A8;
	margin: 0 auto;
	z-index: -1;
}
.horizontal-line-lg{
	width: 68.4%;
}
.store-start-linkage .horizontal-line-sm{
	width: 59%;
}
.horizontal-line-sm{
	width: 58.35%;
}
.padding-17{
	padding-left: 17px;
	padding-right: 17px;
}
.sort-down:after{
/*	content: "\f0dd";
	font-family: FontAwesome;
	position: absolute;
	color: #AAA8A8;
	bottom: -10px;
	margin-left: -5px;*/
}
.row-blocks-2{
	/*margin-top: 5px !important;*/
}
.line-lg{
	width: 2px;
	height: 100px;
	background-color: #AAA8A8;
	position: absolute;
	right: 0px;
	top: -25px;
	z-index: -100;
}
.store-1-blocks .line-lg{
	top: -46px;
}
.store-1-blocks .login-vertical-line{
	height: 80px !important;
}
.login-vertical-line{
	height: 62px !important;
}
.start-linkage .vertical-line-sm{
	top: -23px;
}
.circle-lg:after{
	/*content: '';
	display: inline-block;
	position: absolute;
	top: 0px;
	margin-left: -5px;
	height: 10px;
	width: 10px;
	border: 1px solid #AAA8A8;
	border-radius: 50%;
	background-color: #fff;*/
}
/*.left-arrow:after{
content: "\f0d9";
font-family: FontAwesome;
position: absolute;
color: #AAA8A8;
bottom: 9px;
right: 30px;
}*/
.left-arrow .svg-icon{
	width:27%;
	position: absolute;
	top: 38%;
	right:0px;
}
.left-arrow .svg-icon line{
	stroke-width:4px;
	/*     width:100px; */
}
.left-arrow-head:after{
	content: "\f0d9";
	font-family: FontAwesome;
	position: absolute;
	color: #AAA8A8;
	bottom: 9px;
	right: 30px;
	/*margin-left: -8px;*/
}
/*.left-arrow:before{
content: '';
display: inline-block;
position: absolute;
width: 25%;
top: 58px;
right: -15px;
height: 2px;
background-color: #AAA8A8;
margin: 0 auto;
}*/
.line-to-left{
	position: absolute;
	height: 2px;
	top: 35px;
	width: 29%;
	right: 0;
	z-index: -1;
	background-color: #AAA8A8;
}
.line-to-right{
	/*position: absolute;
	height: 2px;
	    top: 33px;
    width: 100%;
	left: 0;
	background-color: #AAA8A8;*/
}
.line-to-right{
	position: absolute;
	height: 2px;
	top: 50%;
	z-index: -1;
	width: 35%;
	left: 70px;
	background-color: #AAA8A8;
}
.left-down{
	position: absolute;
	height: 2px;
	top: 35px;
	width: 50%;
	right: -7px;
	background-color: #AAA8A8;
}
.left-down:before{
	content: '';
	display: inline-block;
	position: absolute;
	height: 75px;
	top: 0px;
	width: 2px;
	left: 0px;
	background-color: #AAA8A8;
}
.block-conection-3{
	position: relative;
	margin-bottom: 20px;
	/*margin-left: 50px;*/
	z-index: 100;
}
.vertical-line-sm{
	position: absolute;
	left: 50%;
	margin-top: 5px;
	width: 2px;
	height: 20px;
	background-color: #AAA8A8;
}
.store-1-block-twice{
	/*margin-top: 5px;*/
}
.store-block-twice{
	/*margin-top: 5px;*/
}
.edit-store-top-space{
	top: 50%;
	position: absolute;
	right: -7px;
}
.vertical-arrow-line .svg-icon{

}
.vertical-arrow-line .svg-icon{
	/*width:27%;*/
	position: absolute;
	top: 50%;
	right:10px;
}
.vertical-arrow-line .svg-icon line{
	/*stroke-width:4px;*/
	/*     width:100px; */
}
.edit-store-link-block{
	margin-top: 25px;
}
.sales-down-blocks{
	margin-left: -70px;
}
.sales-col{
	margin-top: 7px;
}
.sales-down-blocks .line-lg {
	/*top: -18px;*/
}
.edit-store-block-col{
	margin-top: -100px;
}
.help-block-col {
	/*margin-top: -100px;*/
}
.help-down-blocks{
	margin-right: -25px;
}
.help-down-blocks .middle-block{
	margin-right: 0 !important
}
.edit_store-down-blocks{
	margin-right: -92px;
}
.edit_store-down-blocks .middle-block{
	margin-right: 0 !important
}
.help-block-col .line-lg{
	top: -54px;
	left: 90px;
	height: 90px;
}
.help-block-col .line-to-right {
	position: absolute;
	height: 2px;
	top: 52%;
	width: 26%;
	left: 92px;
	background-color: #AAA8A8;
}
.help-block-col .arrow-right img{
	position: absolute;
	top: 30px;
	right: 34px;
}
.edit-store-block-col .line-lg{
	top: -28px;
	left: 70px;
}
.arrow-right img{
	position: absolute;
	top: 30px;
	right: 0px;
}
.arrow-left img{
	position: absolute;
	top: 30px;
	right: 0px;
}
.edit-store-block-col .left-arrow .svg-icon{
	/*width: 115%;*/
	/*position: absolute;*/
	/*top: 38%;*/
	/*left: -65px;*/
}
/*image lines*/
.store-down-connection img{
	position: absolute;
	right: 0;
	left:30px;
	width: 75%;
}
.edit-store-down-connection img{
	position: absolute;
	top: 40%;
	height: 86%;
}


/*green blocks row*/
.look-and-feel-h-line:after{
	content: '';
	display: inline-block;
	position: absolute;
	height: 2px;
	top: -32px;
	width: 63px;
	left: -40%;
	z-index: -1;
	background-color: #AAA8A8;
}
.product-h-line:after{
	content: '';
	display: inline-block;
	position: absolute;
	height: 2px;
	top: 33px;
	width: 75%;
	/* left: -39%; */
	right: -156px;
	margin: 0;
	/* right: 102%; */
	z-index: -1;
	background-color: #AAA8A8;
}
.green-block-container{
	position: relative;
}
.product-green-block-section{
	margin-top: -250px !important;
	left: 50%;
	position: absolute;

}
.product-green-blocks-row ul{
	margin-left: 100px;
}
.product-green-block-section .green-blocks-line .horizontal-line{
	width: 75%;
	margin: 0;
}
.product-green-block-section{
	/*margin-top: -50px !important;*/
}
.green-block-section{
	margin-top: -50px !important;
}
.green-blocks-row{

}
.green-blocks-row ul{
	margin-left: -85%;

}
.green-blocks-line .horizontal-line{
	width: 9.7%;
	margin: 0;
}
.green-block{
	position: relative;
	margin-top: 30px;
}
.green-block:before{
	content: '';
	display: inline-block;
	position: absolute;
	height: 35px;
	top: -32px;
	width: 2px;
	left: 50%;
	z-index: -1;
	background-color: #AAA8A8;
}
/*end of sitemap page*/



.left-down-line {
	position: relative;
	/*width: 80px;*/
	height: 50px;
	/*background-color: #eeeeee;*/
	/*padding: 20px;*/
}
.left-down-line:before{
	content: ' ';
	position: absolute;
	left: -125px;
	width: calc(160px - 0px);
	height: calc(100% - 0px);
	border-top: 2px solid #AAA8A8;
	border-right: 2px solid #AAA8A8;
}
.look-and-feel:before{
	content: ' ';
	position: absolute;
	left: 44.5%;
	width: calc(62px - 0px);
	height: calc(100% - 0px);
	border-top: 2px solid #AAA8A8;
	border-right: 2px solid #AAA8A8;
}
/*============================================================================================================*/








































/*resource page*/
.pricing-section{
	/*padding-bottom: 0 !important;*/
}

.row-1100{
	max-width: 1100px !important;
	margin: 0 auto;
}

.resource-block{
	margin-bottom: 30px;
}

.resource-block .slider-block{
	padding: 20px 30px !important;
	margin: 0 auto !important;
	min-height:0 !important;
	max-width: 100% !important;
	border:1px solid transparent;

}
.resource-block .slider-block:hover{
	border:1px solid #78AB4F;
}
.resource-block .slider-block:hover h1{
	color: #78AB4F;
}
.resource-block  .slider-detail{
	height: 265px !important;
	overflow: hidden;
	overflow-y: scroll;
}
.resource-block .slider-detail li{
	padding-left: 35px;
	font-size: 15px;
}  
.resource-block .slider-detail li:before{
	width: 20px;
	height:20px;
	position: absolute;
	margin-top: 1px;
	margin-left: -28px;
	background-image: url("../images/img-tick.png");
	background-size:20px;
	display: inline-block;
	content:"";
}
/*end resource page*/






/*8 july 2019 home page css*/
.notify-btn{
	padding: 0;
}
.padding-0{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.toggle-bars{
	display: none;
}
.toggle-menu{
	display: none;
}


.bg-header-section{
	background-color: transparent;
}
.row-stretched{
	max-width: 1280px;
	margin: 0 auto;
}
.home-header-2{
	border: 0 !important;
	padding-left: 30px;
	padding-right: 30px;
}
.home-header-2 .home-logo {
	padding: 15px 0px 5px 0px !important;
}
.home-header-2 .home-logo img {
	align-items: center;
	flex-wrap: wrap;
	vertical-align: middle;
	display: flex;
	width: 100%;
	max-width: 200px;
	margin: 0px !important;
}
.home-header-2 .home-menu .item-link .active {
	font-weight: 500 !important;
	border-bottom: 2px solid #fff;
}
.home-header-2 .home-menu .item-link a {
	font-size: 14px;
	/*color: #707070;*/
	color:#fff;
	padding: 3px 5px;
	/*font-weight: 400;*/
	text-decoration: none;
	text-transform: uppercase;
}
.home-header-2 .item-link:after, .header .item-link:after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #fff !important;
}
.btn-home-sm-empty{
	font-size: 14px;
	font-weight: 600;
	/*color: rgb(250,250,250);*/
	color: #fff;
	text-align: center;
	/*background: linear-gradient(-90deg, #74a857, #468fb1);*/
	min-width: 100px;
	height: 40px;
	padding:8px 15px;
	border-radius:70px;
	border:1px solid #fff;
	text-transform: uppercase;
	transition: all 1s linear;  
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
}
.btn-home-sm-empty:hover{
	color: rgb(250,250,250);
	background: linear-gradient(-90deg, #74a857, #468fb1);
	/*border:1px solid transparent;*/
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn-lg{
	padding-left: 50px !important;
	padding-right: 50px !important;
	font-size: 20px !important;
	height: 50px !important;
}
.btn-home-sm{
	font-size: 14px;
	color: rgb(250,250,250);
	text-align: center;
	background: linear-gradient(-90deg, #74a857, #468fb1);
	min-width: 100px;
	height: 35px;
	padding:6px 15px;
	border-radius:70px;
	border:0px;
	transition: all 1s linear;  
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
}
.btn-home-sm:hover{
	box-shadow: 0px 3px 10px rgba(116,168,87,1);
	color:#fff !important;
}
.home-header-2 .home-menu ul li .btn-sm-default{
	background: transparent;
	border: 1px solid #fff;
	height: 40px !important;
	padding: 8px 15px !important;
	min-width: 120px !important;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px !important;
}
/*end header section*/

/*home section 1 css*/
.bg-home-section{
	background-image: url("../images/img-home-bg-2.png");
	/*height: 500px; */
	background-position: center; 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: -100px;
	padding-top: 110px;
	padding-bottom: 50px;
}
.section-content-block{

}
.home-content-section{
	padding-right:100px;
}
.section-content-block .head{
	margin-bottom:30px;
}
.section-content-block .content{
	/*margin-bottom:50px;*/
}
.heading-level-1{
	font-size: 48px;
	font-weight: 600;
	color:#3c3c3c;
}
.heading-level-2{
	font-size: 31px;
	font-weight: 600;
	color:#3c3c3c;
}
.heading-level-3{
	font-size: 20px;
	/*font-weight: 600;*/
	color:#404040;
}
.heading-level-4{
	font-size: 16px;
	font-weight: 600;
	color:#3c3c3c;
}
.text-level-1{
	font-size: 20px;
	color: #8B8B8B;
	line-height: 1.3;
}
.text-level-2{
	font-size: 15px;
	color: #404040;
}
.section-content-block .block-email{
	background-color: #fff;
	margin: 0;
	/*border:1px solid #eee;*/
	border-radius: 50px;
	padding: 10px;
	box-shadow: 0px 3px 10px 0px #e5e5e5;
	-webkit-box-shadow: 0px 3px 10px 0px #e5e5e5;
	-moz-box-shadow: 0px 3px 10px 0px #e5e5e5;
	-o-box-shadow: 0px 3px 10px 0px #e5e5e5;
}
.block-email .email-input input{
	border: 0;
	font-size: 16px;
	background:transparent;
	color: rgba(60, 60, 60, 1);
	height: 35px;
	/*margin-top: 5px;*/
	width: 100%;
	padding-left: 10px;
	outline: none !important;
}
.block-email .email-input input::placeholder{
	font-size: 16px;
	color: rgba(60, 60, 60, 1);
}
.block-video video{
	border-radius: 20px;
	max-width: 600px;
	outline: none !important;
	box-shadow: 0px 3px 10px 0px #e5e5e5;
	-webkit-box-shadow: 0px 3px 10px 0px #e5e5e5;
	-moz-box-shadow: 0px 3px 10px 0px #e5e5e5;
	-o-box-shadow: 0px 3px 10px 0px #e5e5e5;
}
.block-video-2 video{
	border-radius: 0px !important;
}
/*end home section 1 css*/

/*home section 2 css*/
.bg-home-section-2{
	background-image: url("../images/img-home-bg-1.png");
	/*height: 500px; */
	background-position: center; 
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.row-720{
	max-width: 720px;
	margin: 0 auto;
}
.bg-home-section-2 .head{
	margin-bottom: 20px;
}
.bg-home-section-2 .content{
	margin-bottom: 50px;
}
/*end home section 2 css*/
/*home section 3 css*/
.sm-img-block img{
	max-width: 165px;
	width: 100%;
}
.padding-left-0{
	padding-left:0 !important;
}
.img-block-2{
	margin-left: -30px;
}
.img-block-3{
	margin-left: -30px;
}
#sm-img-1{
	margin-top: 35px;
}
#sm-img-5{
	margin-top: 70px;
}
.img-color{
	display: none;
}
.sm-img-block:hover .img-color{
	display: block !important;
}
.sm-img-block:hover .img-white{
	display: none !important;
}
.svg-img-icon:hover{
	fill: red !important;
}
.svg-img-icon:hover > .inner-icon{
	fill: #fff !important;
}
/*end of home section 3 css*/
/*home section 4 css*/
.divider{
	height: 2px;
	background: linear-gradient(-90deg, #74a857, #468fb1);
	max-width: 35px;
	margin: 15px 0;
}
.bg-home-section-4{
	background-color: #F9F9F9;
}
.main-container{
	padding-top: 50px;
	padding-bottom: 50px;
}
.img-block img{
	/*max-width: 450px;*/
	width: 100%;
}
.text-img-block img{
	max-width: 450px;
	width: 100%;
}
.text-img-block{
	padding-bottom: 20px;
}
/*end of home section 4 css*/
/*home section 6 css*/
.content-section-5{
	margin-top: 60px;
}
.section-padding .row-fixed-width{
	margin-bottom: 0;
}
.row-fixed-width{
	max-width: 1200px;
	margin: 0 auto 75px auto;
}
.vertical-diviver{
	height: 1px;
	background: #f0f0f0;
	width: 65%;
	margin: 15px auto;
}
.info-block{
	/*background-color: yellow;*/
	padding: 20px 10px;
	margin: 0px 20px;
}
.info-block .icon-block{
	max-height: 100px;
	/*background: red;*/
}
.info-block .head{
	margin:20px 0;
}
/*.info-block:after{
	content: "";
	background-color: rgba(139, 139, 139, 0.5);
	position: absolute;
	width: 2px;
	height: 100px;
	top: 120px;
	right: 0px;
	display: block;
	}*/
	.last-info-block:after{
		display: none;

	}

	.info-block:hover .svg-icon{
		fill:#75A953 !important;
	}
	.info-block .icon-block .svg-icon{
		width: 70px;
		fill: #448FB4;
	}
	/*end home section 6 css*/
	/*home section 7 css*/
	.bg-home-section-7{
		background: #F9F9F9;
	}
	.row-570{
		max-width: 570px;
		margin: 0 auto;
	}
	/*end home section 7 css*/
	/*home section 8 css*/
	.block-graph img{
		width:100%;
	}
	/*end home section 8 css*/


	/*home section 10 css*/
	.bg-home-section-10{
		background-image: url("../images/bg-section-10.png");
		/*height: 500px; */
		background-position: center; 
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	/*home section 10 css*/
	/*end of 8 july 2019 home page css*/


	/*8 july pricing page*/
	.bg-header-pricing{
		background-image: url("../images/img-nav.png");
		background-position: center; 
		background-repeat: no-repeat;
	}
	.slider-row{
		max-width: 1200px;
		margin: 0 auto;
		padding: 0px 0;
	}
	.row-500{
		max-width: 600px;
		margin: 0 auto;
	}
	.price-text-sm{
		font-size: 16px;
		font-weight: normal;
	}
	.slider-block{
		padding: 65px 20px;
		-webkit-box-shadow: 0px 0px 10px #e5e5e5;
		-moz-box-shadow: 0px 0px 10px #e5e5e5;
		box-shadow: 0px 0px 10px #e5e5e5;
	}
	.slider-head{
		margin-bottom: 20px;
	}
	.slider-price{
		margin-bottom: 20px;
	}
	.block-btn{
		margin-top: 20px;
	}
	.slider-detail ul li{
		margin-bottom: 10px;
		font-size: 13px;
	}
	.slider-detail{
		height: 200px;
	}
	.slider-detail ul li img{
		max-width: 23px;
		display: inline-block !important;
		margin-right: 15px;
	}
	.slider-block .block-btn .btn-sm-default{
		background: transparent !important;
		border: 1px solid #D9D9D9;
		color:#8b8b8b;
		cursor: pointer;
		height: 35px;
		padding: 4px 15px;
	}
	.slider-block .block-btn .btn-sm-default:hover{
		background: linear-gradient(-90deg, #74a857, #468fb1) !important;
		background: -webkit-linear-gradient(-90deg, #74a857, #468fb1) !important;
		background: -moz-linear-gradient(-90deg, #74a857, #468fb1) !important;
		background: -o-linear-gradient(-90deg, #74a857, #468fb1) !important;
		border: 0;
		color:#fff;
	}
	/*owl carousel*/
	
	.owl-item{
		margin-right: 0 !important;
	}
	.grow {
		transition: all .2s ease-in-out;
		margin: 30px 20px !important;
		border:1px solid transparent;
	}
	.grow:hover {
		transform: scale(1.03);
		border:1px solid #78AB4F;
	}
	/*.grow:hover .block-btn .btn-sm-default {
		background: linear-gradient(-90deg, #74a857, #468fb1) !important;
		background: -webkit-linear-gradient(-90deg, #74a857, #468fb1) !important;
		background: -moz-linear-gradient(-90deg, #74a857, #468fb1) !important;
		background: -o-linear-gradient(-90deg, #74a857, #468fb1) !important;
		border: 0;
		color: #fff;
		}*/
		.owl-stage-outer {
			/*padding: 30px 0;*/
			padding: 0px;
			height: 600px;
		}
		.owl-dots{
			display: none;
		}
		.owl-prev,
		.owl-next {
			position: absolute;
			top: 48%;
			padding: 0px 13px !important;
			border-radius: 50% !important;
			box-shadow: 0px 3px 10px 0px #e5e5e5;
			-webkit-box-shadow: 0px 3px 10px 0px #e5e5e5;
			-moz-box-shadow: 0px 3px 10px 0px #e5e5e5;
			-o-box-shadow: 0px 3px 10px 0px #e5e5e5;
			transform: translateY(-50%);
			outline: 0 !important;
		}
		.owl-prev span i,
		.owl-next span i{
			font-size: 40px;
			color: #D9D9D9;
		}
		.owl-theme .owl-nav [class*=owl-]:hover span i{
			color: #fff;
		}
		.owl-theme .owl-nav [class*=owl-]:hover {
			background: #78AB4F !important;
			text-decoration: none;
		}
		.owl-prev {
			left: -3rem;
		}

		.owl-next {
			right: -3rem;
		}
		/*end owl carousel*/
		/*end 8 july pricing page*/











































		.text-danger {
			color: #dc3545 !important;
			font-size: 13px !important;
			font-weight: 600 !important;
		}

		.text-success{
			color:#008000;
			font-size:13px;
			font-weight:600;
		}

		.home-header{
			min-height:96px;
			border-bottom: 1px solid #eee;
		}

		.home-header .home-logo{
			padding:15px 0px 5px 0px !important;
		}

		.home-header .home-menu{
			padding: 32px 0px 15px 0px;
		}
		.home-menu .item-link{
			padding:0px 10px;
		}
		.home-menu .item-link .active{
			font-weight:700;
		}

		.home-menu .item-link-dark{
			background-color: #458fb4;
			/* height: 30px; */
			border:1px solid #458fb4;
			border-radius: 57px;
			min-width: 120px;
			padding: 2px 10px 2px 10px !important;

		}
		.home-menu .item-link-dark:hover a{
			color:#458fb4 !important;
			background-color: #fff;

		}
		.home-menu .item-link-dark:hover{
			color:#458fb4 !important;
			background-color: #fff;

		}

		.home-menu .item-link-dark a{
			font-size: 14px;
			color: rgb(255, 255, 255) !important;
			text-transform: uppercase;
			font-weight:400;

		}

		.home-menu .item-link a{
			font-size: 14px;
			color: #707070;
			padding: 10px 5px;
			font-weight:400;
			text-transform: uppercase;
		}

		.home-menu a:hover{
			text-decoration:none;

		}

		.home-dropdown li a{
			padding: 5px 10px !important;
		}

		.footer{
			padding:20px 10px;
		}
		.home-container .margin-default{
			margin-top:50px;
			margin-bottom:50px;
		}
		.home-container .row-normal{
			width:95%;
			margin-left:auto;
			margin-right:auto;
		}
		.home-container-full, .store-footer{
			background:rgb(92, 102, 114);
		}

		.row-background{
			background: url(../images/background.jpeg);
			width:100% !important;  
			margin:0px;
			padding:5% 15px 2% 15px;
			margin-bottom:40px; 
			background-repeat: no-repeat;
			background-position: top;
			background-size:100%;
		}
		.row-background-2{
			background: url(../images/background-2.png) no-repeat top;
			width:100% !important;  
			margin:0px;
			padding:80px 15px;
			min-height:350px;
		}

		.home-container video , .home-container .col-specs img{
			width:100%;
			max-width:100%;
		}

		.row-background .col-overlay{
			background:rgba(0,0,0,0.5);
			padding:20px;
		}

		.row-background-2 .col-overlay{
			background:rgba(0,0,0,0.5);
			padding:20px;
		}
		.row-background .col2{
			padding-left:20px;
		}

		.home-container .row-integrations{
			width:80%;
		}
		.packages-row{
			width:100%;
			max-width: 1000px;
			margin-left: auto;
			margin-right: auto;
		}

		.home-row-1{
			/*margin-top:50px; */
		}

		.home-row-2{	

		}

		.home-row-2 h2{
			font-size: 30px;
			color:#fff;
			line-height: 1.2;
			font-weight: 600;
		}

		.home-row-2 h4{
			font-size: 19.466px;
			color: rgb(246, 255, 0);
			line-height: 1.2;
		}


		.home-row-2 .block .nauk-info-connections{
			background:#FCFCFC;
			padding-top:10px;
			padding-bottom:10px;
			margin-top:10px;
			margin-bottom:10px;
			min-height:360px;
			padding: 8%;
			transition:ease-in-out 0.5s;
			-webkit-transition:ease-in-out 0.5s;
			-moz-transition:ease-in-out 0.5s;
			-o-transition:ease-in-out 0.5s;
			border-radius:3px;

		}
		.home-row-2 .block .nauk-info-connections:hover{
			-webkit-box-shadow: 0px 0px 15px #ddd;
			-moz-box-shadow: 0px 0px 15px #ddd;
			box-shadow: 0px 0px 15px #ddd;
			margin-top:-20px;
			background:#fff;
		}

		.home-row-2 .block .image{
			min-height:90px;

		}
		.home-row-2 .block .image img{
			margin:auto
			margin-bottom:20px;

		}

		.home-row-2 .block-heading{
			font-size: 17px;
			color: #404040;
			line-height: 1.2;
			text-transform: capitalize;
			padding-top:10px;
			padding-bottom:20px;
			border-bottom:1px solid #ddd;
			margin-bottom:20px;
			margin-top:20px;
		}

		.home-row-2 .block .paragraph-text-sm-grey{
			font-size: 13px !important; 
			color: #404040 !important;
			line-height: 1.5;
			padding-top:10px;
			font-weight:400 !important;
		}


		.home-row-3 .row{
			border:1px solid rgb(11, 57, 84);
			padding:10px;
		}

		.home-row-3 .block{

			display: flex;
			align-items: center;
			flex-wrap: wrap;
			verticle-align:middle;
		}
		.home-row-3 .block-2{
			padding-left:30px !important;
		}
		.home-row-3 .block-1{
			padding-left:20px !important;
		}
		.home-row-3 .row{
			padding-top:20px;
		}
		.home-row-4 img{
			padding:10px 5px; 
			width:90%;

		}

		/* new home theme */
		.col-specs img{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			vertical-align:middle;
			width:100%;
			max-width:960px;
			margin:0px auto;
		}
		/* new home theme */



		.grey-sm-bold{
			font-size:14px !important;
			font-weight:bold !important; 
		}

		.email-template-block{
			padding:10px 0px 10px 17px;
		}

		.email-template-block .border-dark-1{
			padding:10px;
		} 

		.payment-methods .method-block{

			padding:10px !important;
		}
		.payment-methods .method-block img{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			vertical-align:middle;
			margin:10px auto;
			padding:10px 0px;
			max-height: 66px;
		}
		.payment-methods .method-block .btn-sm-blue{
			margin-top:20px !important;
			margin-bottom:20px !important;
		}

		.payment-methods .method-block .nauk-info-connections{
			padding:10px 5px;
		}

		.manage-purshase-block .block{
			padding:10px;
		}
		.manage-purshase-block .block button{
			margin-bottom:10px;
		}


		/* store */
		.main{
			min-height:550px;

		}

		.store .header{
			min-height: 100px;
			padding:10px 0px;
			border-bottom:1px solid rgb(240, 240, 240);
			margin-bottom:30px;
		}

		.store .store-head{
			border-right:1px solid rgb(240, 240, 240);
			padding-left:;
		}

		.store .header .store-head{
			/*padding:18px 10px 5px 10px; */
			margin: auto;
		}
		.store .header  .store-top-menu{

			padding:15px 0px 5px 0px;
		}
		.store .header .heading-lg-red{
			/*margin-bottom:0px; */
		}
		.store .header .list-inline{

		}
		.store .header .list-inline a{
			font-size: 15px;
			color: #74a857;
			font-weight: 500;
			line-height: 3;
			text-align: left;
			margin-right: 5px;
			margin-left: 5px;
		}

		.store .header .search{

		}

		.store-header-search .ui-input-text{
			font-family:inherit !important;
		}

		.ui-input-text{
			margin:0px;
		}

		.store-header-search input{
			font-size: 14px !important;
			color: rgb(130,130,130) !important;
			text-align: left !important;
			border:1px solid  rgb(239, 239, 239) !important;
			border-right:0px !important;
			max-width: 270px !important;
			width: 265px !important;
			height: 36px !important;
			box-shadow: none !important;
			inset:none !important;
			border-radius: 50px 0px 0px 50px !important;
			padding-left: 10px !important;
		}
		.ui-input-text input{
			padding:0.4em 0.4em 0.4em 10px !important;
		}
		.ui-shadow-inset, .ui-focus, .ui-body-inherit, .ui-input-text, .ui-shadow, .ui-btn, .ui-corner-all, .ui-body-inherit{
			box-shadow:none !important;
			-webkit-box-shadow:none !important;
			-moz-box-shadow:none !important;
			text-shadow: none !important;
			-webkit-text-shadow: none !important;
			-moz-text-shadow: none !important;
			border:0px  !important;


		}

		.ui-page-theme-a{
			box-shadow:none !important;
			-webkit-box-shadow:none !important;
			-moz-box-shadow:none !important;
			text-shadow: none !important;
			-webkit-text-shadow: none !important;
			-moz-text-shadow: none !important;
		}
		.ui-page-theme-a a{
			font-weight: normal;
		}
		.store-header-search .fa{
			font-size: 14px;
			color: #74a857;
			position: relative;
			top: -3px;
		}
		.store-header-search .btn-secondary{
			background:#fff !important;
			border:1px solid  rgb(239, 239, 239) !important;
			border-left:0px !important;	
			height: 36px !important;
			border-radius: 0px 50px 50px 0px !important;
			box-shadow: none;
		}

		.store-header-search .btn-secondary:focus{
			box-shadow: none;
		}
		.store-body{
			min-height:400px;
		}

		.store-left-menu{
			border-right:1px solid rgb(240, 240, 240);
			min-height:600px;
		}
		.store-left-menu ul{
			list-style: none;
			padding:0px;	
		}

		.store-left-menu .menu-name{

			font-size: 16px;
			color: rgb(69, 85, 97);
			font-weight: 600;
			line-height: 1.2;
			text-align: left;
		}
		.store-left-menu .menu-item a {
			font-size: 14px;
			color: rgb(69, 85, 97);
			line-height: 1.2;
			text-align: left;
			text-transform:capitalize !important;
			font-weight:500 !important;
			padding-left:5px;
		}

		.store-front-product-image{
			/* padding-bottom: 10px; */
			/* padding-top: 10px; */
			/* max-height: 200px !important; */
			/* max-width: 200px !important; */
		}

		.store-front-product-block{
			/*	height:200px;*/
			height: 200px;
			width: 279px;
			display: table-cell;
			vertical-align: middle;
			margin: 0px auto;
			padding:2% 4%;
		}

		/* Range Sider*/
		.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
			background:#fff !important;
			border:none !important; 
		}
		.price-range-slider{
			position: relative;
			top: 30px;
		}

		.price-range-slider .ui-rangeslider-sliders{
			position: relative;
			top: -30px;
			margin:0px 10px 0px 11px !important;
		} 

		.ui-range-slider-label{
			font-size: 14px !important;
			color: rgb(193, 193, 193) !important;
			line-height: 1.2 !important;
			position:relative !important;
			top: 62px !important;
			left: 55px;
		}
		.ui-page-theme-a .ui-slider-track .ui-btn-active{
			color: #74a857 !important;
			background: #74a857 !important;
			text-shadow: #74a857 !important;
			/* height: 10px; */
			top: 33px;
			border-top: 1px solid #428bca;
			border-bottom: 1px solid #428bca;
			background: #428bca;
			background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%) !important;

		}
		.ui-slider-track, html >body .ui-rangeslider .ui-rangeslider-sliders .ui-slider-track:first-child{
			height:10px !important;
		}

		.ui-slider-track .ui-btn.ui-slider-handle {
			width: 25px !important;
			height: 25px !important;
			/* border: 1px solid #080C95 !important; */
			/*background: #468fb1;*/
			margin: -13px 0 0 -10px !important;
			border: 1px solid #AAA !important;
			background: #DDD;
			background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 20%,rgba(255,255,255,1) 100%);
			border-radius: 27px;
			-moz-border-radius: 27px;
			box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
			-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
			-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
			cursor: pointer;
		}
		.ui-slider-track .ui-btn.ui-slider-handle:hover{
			background: #fff;
			background: linear-gradient(to bottom, #fff 0%,#fff 20%,#fff 100%);
		}


		input, input:focus, input:hover{
			box-shadow:none !important;
		}

		.price-range-min, .price-range-max{
			font-size: 14px !important;
			font-weight:500 !important;
			color: rgb(136, 136, 136) !important;
			border:1px solid  rgb(239, 239, 239) !important;
			border-radius: 4px !important;
			background-color: rgb(255, 255, 255) !important;
			box-shadow:none !important;
		}

		.price-range-max{

		}

		.store-inner-body{

		}


		.store-product-list{
		}

		.store-product-list .store-product{
			padding:10px 10px 10px 30px;
		}
		.store-product .product-cover{
			border:1px solid #eee;
		}

		.store-product-list .store-product .detail{
/*	min-height: 90px;
max-height: 90px; */
overflow: hidden;
padding: 0px 7px;
}

.store-product-list .store-product .image{
	

}
.store-product-list .store-product .buttons{

}

.store-product-list .store-product img{
/*	align-items: center;
	flex-wrap: wrap;
	vertical-align: middle;*/

	/* width: 100%; */
	/* height: 100%; */
	
	/*max-height: 170px;
	max-width: 200px;
	margin: auto;*/
	align-items: center;
	flex-wrap: wrap;
	vertical-align: middle;
	width: 100%;
	/* height: 100%; */
	max-height: 170px;
	max-width: 80%;
	margin: auto;

}


.store-product-list .store-product .store-product-name{
	font-size: 16px;
	color: rgb(100,100,100);
	text-align: left;
	font-weight: 600;
	margin-bottom: 0px;
	margin-top: 5px;
}


.store-product-list .store-product .store-product-price {
	font-size: 15px;
	color:rgb(180,150,150);
	font-weight:600;
	margin-bottom:10px;
	text-align: left;
}
.product-price-strike{
	text-decoration:line-through;
	margin-right:20px;
}
.margin-bottom-none{
	margin-bottom:0px !important;
}

.store-product-list .store-product .store-product-rating{
	/* padding-bottom: 20px; */
	padding: 0px 7px 10px 7px;
	/* margin-bottom: 40px; */
	/* border-bottom: 1px solid #eee; */
}


.store-product-list .store-product .store-product-detail{
	font-size: 12px;
	color: rgb(136, 136, 136);
	text-align: left;
	font-weight:500;

}
.store-product-list .store-product .store-product-add-btn{
	font-size: 12px;
	background: #fff;
	color:rgb(124, 10, 2);
	border:1px solid rgb(124, 10, 2);
	border-bottom: 3px solid rgb(63,5,1);
	margin:2px auto !important;
	font-weight:600;
	float:center;
	border-radius: 3px;
	text-align: center;
	text-transform:uppercase;
	width:100%;
	max-width: 194px;
	height: 28px;
	line-height:1.2;

}
.store-product-list .store-product .store-product-add-btn:hover{
	background:rgb(124, 10, 2);
	color:#fff;
	box-shadow:none !important;
}

.store-product-list .load-more{
	margin-bottom:100px;
}

.store-product-list .load-more .load-more-btn{
	font-size: 14px;
	background: #fff;
	color: #74a857;
	border: 1px solid #74a857;
	border-bottom: 3px solid #74a857;
	margin: 2px auto;
	font-weight: 500;
	border-radius: 50px;
	padding: 5px 30px;
	text-align: center;
	text-transform: capitalize;
	/* width: 100%; */
	min-width: 118px;
	height: 34px;
}
.store-product-list .load-more .load-more-btn:hover{
	background:#74a857;
	color:#fff;
	box-shadow:none !important;
}


/* store footer*/
.store-footer{
	background:#455561;
}

.store-footer-row{
	max-width:1280px;
	margin:0px auto;	
}

.store-footer-links{
	font-size: 16px;
	color: rgb(255, 255, 255) !important;
	line-height: 1.2;
	/*text-align: left;*/
	font-weight:400 !important;
}

.store-footer-left{
	padding:60px  10px 10px 10px;
	text-align:center;
}

.store-footer-right{
	padding:20px  10px 20px 150px;
}




/*store order*/
.modal-cart-sub-heading{
	font-size: 19.466px;
	color: rgb(69, 85, 97);
	line-height: 1.2;
	font-weight:600;
}

.cart-sub-heading{
	font-size: 22.466px;
	color: rgb(69, 85, 97);
	line-height: 1.2;
	font-weight:700;
}


.store-inner-heading h4{
	font-size: 32px;
	text-align: left;
	font-weight:500;
	background:linear-gradient(to right, #006400 10%, #74a857   20%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.store-table tr, .store-table tr td{
	border:0px;
	min-height:100px;
}
.store-table .td-info{
	/*padding-top:50px;*/
	vertical-align:middle;
}
.cart-table .cart-th{
	font-weight:600 !important;
	color:rgb(78,78,78) !important;
}

.store-input{
	font-size: 14px;
	color: rgb(136, 136, 136);
	border: 1px solid rgb(239, 239, 239) !important;
	border-radius: 3px !important;
	background-color: rgb(255, 255, 255);
	width:100%;
	max-width: 218px;
	height: 30px;
	padding-left:10px;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
}
.store-input:focus, .store-input:hover{
	border-color:#455561 !important;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	outline:none !important;
}
.store-customer-information a{
	margin:20px auto;
}
.store-customer-information{
	margin-bottom:50px;
}

.store-order-image img{
	width: 100px;
	height: 100px;
	text-align:center;
}

.store-order-product-name{
	font-size: 16px;
	color: #67747e;
	text-align:center;
	font-weight:500;
}

.store-order-product-price{
	font-size: 16px;
	color: #67747e;
	text-align:center;
	font-weight:500;
}
.store-order-product-quantity{
	font-size: 16px;
	color: #67747e;
	text-align:center;
	font-weight:500;
}

.store-order-product-total{
	font-size: 16px;
	color:#67747e;
	text-align:center;
	font-weight:500;
}

.store-cart{
	margin-bottom: 70px;
}
.store-cart .list{
	background: #468fb1;
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid #ddd;
}
.store-cart-table{

	padding:20px;
	
}

.store-cart-table td{
	font-size: 18px;
	color: #fff;
	text-align: left;
	font-weight:500;
	vertical-align:middle;
}

.store-cart-table .cart-data, .store-cart-table .cart-data td{
	border:0px;
}
.cart-table td, .cart-table th{
	vertical-align:middle;
}

.store-cart-table .cart-footer{
	margin-top:30px !important;
	margin-bottom:30px  !important;

}
.store-cart-table .cart-footer td{
	border-top:1px dashed #74a857  !important;
	border-bottom:1px dashed #74a857  !important;
}

.store-invoice-text{
	margin-bottom:100px;
}
.store-invoice-text p{
	font-size: 18px;
	color: rgb(67, 67, 67);
	line-height: 2.333;
	text-align: left;
	font-weight:500;
}

.store .border-none{
	border-bottom:0px !important;
	margin:0px !important;
}
.store-single-product-image .status{
	font-size: 16px;
	color: rgb(69, 85, 97);

}

.store-single-product-image .price{

	font-size: 24px;
	color: rgb(69, 85, 97);
	font-weight: 700;
	margin-top: -10px;

}
.store-single-product-image input{
	margin-bottom:10px;
}
.store-heading{
	font-size: 18px;
	/* color: #73c187; */
	font-weight: 600;
	background: linear-gradient(to right, #468fb1 10%, #74a857 20%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.store-paragraph{
	font-size: 16px;
	color: rgb(69, 85, 97);
	font-weight:400;

}
.store-single-product-image img{
	align-items: center;
	flex-wrap: wrap;
	vertical-align: middle;
	max-width:400px;
	width:100%;
	margin: 0px auto !important;
}

.store-product-detail img{
	align-items: center;
	flex-wrap: wrap;
	verticle-align: middle;
	max-height: 200px !important;
	max-width:200px;
	margin: 0px auto !important;
}
.btn-green-dark{
	font-size: 14px;
	color: #fff !important;
	border-radius: 50px !important;
	border: 1px solid #74a857 !important;
	/* border-bottom: 3px solid !important; */
	/* border-color: #063a14 !important; */
	background-color: #74a857;
	/* line-height: 1.333; */
	min-width: 120px;
	padding: 5px 10px;
	font-weight: 500 !important;
	text-align: center;
	text-transform: capitalize;
	/* height: 35px !important; */
	text-transform: c
	width: 160px !important;
}

.btn-green-dark:hover{
	background-color:#fff;
	color:#74a857 !important;
}

.modal-cart-head{

	font-size: 18px;
	font-weight:700;
	color: rgb(69, 85, 97);
}

.modal-cart-price{
	font-size: 18px;
	color: rgb(69, 85, 97);

}

.modal-cart-status{
	font-size: 18px;
	color: rgb(69, 85, 97);

}

.modal-cart-total{
	font-size: 18px;
	color: rgb(69, 85, 97);
}

.modal-cart-input{
	max-width:100% !important;
	margin-bottom:10px;
}

.modal-product-image{

}

.modal-product-image img{
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	max-width:180px;
	width:100%;
	margin: 0px auto !important;
}
.modal-add-to-cart{
	padding:20px 100px 20px 20px !important;
}
.store-relevant-product{
	margin: 30px 0px;
}

.relevant-product-detail{
	border: 1px solid #eee;
	border-radius: 5px;
	margin: 10px 0px;
}

.relevant-product-detail .image-section{
	height: 200px;
	padding: 5%;
}

.relevant-product-detail .image-section img{
	align-items: center;
	flex-wrap: wrap;
	vertical-align: middle;
	/* width: 100%; */
	height: 100%;
	max-height: 100%;
	max-width: 200px;
	margin: auto;
}
.relevant-product-detail .info-section{

}

/* store ---------------------------------------------------------------------------------------------------- */



.billing-history-table td{
	text-transform:capitalize;
	font-size: 14px;
	color: rgb(69, 85, 97);
	font-weight:600;
}

.about-head{
	margin:30px 0px;
}












/* Static pages/content style-------------------------------------------------------------------------------------*/



.static-pages{
	margin-bottom:50px;
}

.static-tabs {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	position: relative;
	background: white;
	padding: 50px;
	padding-bottom: 80px;
	width: 100%;
	min-height: 250px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 5px;
	min-width: 240px;
}
.static-tabs input[name="tab-control"] {
	display: none;
}
.static-tabs .static-content section h2,
.static-tabs ul li label {
	font-weight: 600;
	font-size: 18px;
	color: #428BFF;
}
.static-tabs ul {
	list-style-type: none;
	padding: 0px 80px;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
}
.static-tabs ul li {
	box-sizing: border-box;
	flex: 1;
	width: 25%;

	text-align: left;
}
.static-tabs ul li label {
	transition: all 0.3s ease-in-out;
	color: #929daf;
	padding: 5px auto;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	white-space: nowrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.static-tabs ul li label br {
	display: none;
}
.static-tabs ul li label svg {
	fill: #929daf;
	height: 1.2em;
	vertical-align: bottom;
	margin-right: 0.2em;
	transition: all 0.2s ease-in-out;
}
.static-tabs ul li label:hover, .static-tabs ul li label:focus, .static-tabs ul li label:active {
	outline: 0;
	color: rgb(92, 102, 114);
}
.static-tabs ul li label:hover svg, .static-tabs ul li label:focus svg, .static-tabs ul li label:active svg {
	fill: #bec5cf;
}
.static-tabs .static-slider {
	position: relative;
	width: 25%;
	transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.static-tabs .static-slider .static-indicator {
	position: relative;
	width: 50px;
	max-width: 100%;
	margin: 0 auto;
	height: 4px;
	background: #428BFF;
	border-radius: 1px;
}
.static-tabs .static-content {
	margin-top: 30px;
}
.static-tabs .static-content section {
	display: none;
	-webkit-animation-name: content;
	animation-name: content;
	-webkit-animation-direction: normal;
	animation-direction: normal;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	line-height: 1.4;
}
.static-tabs .static-content section h2 {
	color: #428BFF;
	display: block;
}
.static-tabs .static-content section h2::after {
	content: "";
	position: relative;
	display: block;
	width: 30px;
	height: 3px;
	background: #428BFF;
	margin-top: 5px;
	left: 1px;
}
.static-tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label , .static-tabs .active-tab{
	cursor: default;
	color: rgb(92, 102, 114);
}
.static-tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
	fill: #428BFF;
}
@media (max-width: 600px) {
	.static-tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
		background: rgba(0, 0, 0, 0.08);
	}
}
.static-tabs input[name="tab-control"]:nth-of-type(1):checked ~ .static-slider {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}
.static-tabs input[name="tab-control"]:nth-of-type(1):checked ~ .static-content > section:nth-child(1) {
	display: block;
}
.static-tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
	cursor: default;
	color: rgb(92, 102, 114);
}
.static-tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
	fill: #428BFF;
}
@media (max-width: 600px) {
	.static-tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
		background: rgba(0, 0, 0, 0.08);
	}
}
.static-tabs input[name="tab-control"]:nth-of-type(2):checked ~ .static-slider {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}
.static-tabs input[name="tab-control"]:nth-of-type(2):checked ~ .static-content > section:nth-child(2) {
	display: block;
}
.static-tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
	cursor: default;
	color: rgb(92, 102, 114);
}
.static-tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
	fill: #428BFF;
}
@media (max-width: 600px) {
	.static-tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
		background: rgba(0, 0, 0, 0.08);
	}
}
.static-tabs input[name="tab-control"]:nth-of-type(3):checked ~ .static-slider {
	-webkit-transform: translateX(200%);
	transform: translateX(200%);
}
.static-tabs input[name="tab-control"]:nth-of-type(3):checked ~ .static-content > section:nth-child(3) {
	display: block;
}
.static-tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
	cursor: default;
	color: rgb(92, 102, 114);
}
.static-tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
	fill: #428BFF;
}
@media (max-width: 600px) {
	.static-tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
		background: rgba(0, 0, 0, 0.08);
	}
}
.static-tabs input[name="tab-control"]:nth-of-type(4):checked ~ .static-slider {
	-webkit-transform: translateX(300%);
	transform: translateX(300%);
}
.static-tabs input[name="tab-control"]:nth-of-type(4):checked ~ .static-content > section:nth-child(4) {
	display: block;
}
@-webkit-keyframes content {
	from {
		opacity: 0;
		-webkit-transform: translateY(5%);
		transform: translateY(5%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
}
@keyframes content {
	from {
		opacity: 0;
		-webkit-transform: translateY(5%);
		transform: translateY(5%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
}
@media (max-width: 1000px) {
	.static-tabs ul li label {
		white-space: initial;
	}
	.static-tabs ul li label br {
		display: initial;
	}
	.static-tabs ul li label svg {
		height: 1.5em;
	}
}
@media (max-width: 600px) {
	.static-tabs ul li label {
		padding: 5px;
		border-radius: 5px;
	}
	.static-tabs ul li label span {
		/*display: none;*/
		font-size: 14px;
	}
	.static-tabs .static-slider {
		display: none;
	}
	.static-tabs .static-content {
		margin-top: 20px;
	}
	.static-tabs .static-content section h2 {
		display: block;
	}
}





.static-contact-us{
	max-width: 500px;
	width:100%;
	margin: 0px auto;
}
.static-contact-us h4{
	font-size:25px;
	font-weight:600;
	color:rgb(92, 102, 114);
	margin:30px 0px;
	text-align:center;
}



.static-team-photo{
	align-items: center;
	flex-wrap: wrap;
	verticle-align: middle;
	max-height: 150px !important;
	max-width:150px;
	margin: 0px auto !important;
}

.static-team-name{
	font-size:14px;
	font-weight:600;
	color:rgb(62, 72, 84);
	

}

.static-team-job{
	font-size:14px;
	font-weight:600;
	color:rgb(92, 102, 114);


}

.static-team-info{
	font-size:13px;
	font-weight:400;
	color:rgb(92, 102, 114);
}

.static-our-team{
	margin-bottom:30px;
}


/* end Static pages/content style-------------------------------------------------------------------------------------*/




/* purchases*/
.input-dates-small-lg{
	min-width: 23.666667% !important;
}

.input-dates-small-sm{
	max-width: 2.6666% !important;
	padding: 0px !important;

}
.dashboard video{
	align-items: center;
	flex-wrap: wrap;
	verticle-align: middle;
	max-height: 300px !important;
	max-width: 500px;
	margin: 0px auto !important;
}
/*purchases*/




/*store Video Template ---------------------------------------------------------------------------------*/

.video-body .video-label{
	font-size: 14px !important;
	color: rgb(69, 85, 97) !important;
	font-weight:500 !important;
	text-decoration:none;
}

.video-body .pb-video-heading{
	font-size: 32px;
	color: rgb(89, 95, 97);
	/* font-weight: 700; */
}

.video-body .pb-video-sub-heading{
	font-size: 16px;
	color: rgb(69, 85, 97);
	font-weight:600;
}

.video-body .pb-video-description{
	font-size: 14px;
	color: rgb(69, 85, 85);
	font-weight:400;
}
.video-body .pb-video-container {
	padding-top: 20px;
	background: #bdc3c7;
	font-family: Lato;
}

.video-body .pb-video {
	border: 1px solid #e6e6e6;
	padding: 5px;
}
.video-body .pb-video-preview{
	margin-bottom:100px;
}
.video-body .pb-video .pb-video-frame{
	align-items:center;
	flex-wrap: wrap;
	vertical-align: middle;
	display: flex;
	width:100%;
	max-width:350px;
	margin: 40px auto !important;
}

.video-body  .pb-video:hover {
	background: #eee;
	border-radius:5px;
}
.video-body .fa-star{
	cursor: pointer;  
}
.video-body.pb-row {
	margin-bottom: 10px;
}

.pb-video .fix-media{
	height: 200px;
	display: table-cell;
	vertical-align: middle;
	margin-bottom: 5px;
}
.pb-video .fix-media img{
	align-items: center;
	flex-wrap: wrap;
	display: table;
	vertical-align: middle;
	max-height: 150px;
	width: 100%;
	/* max-width: 150px; */
	margin: 0px auto !important;
}


}

/* store Video Template ---------------------------------------------------------------------------------*/



/* Select tags --------------------------------------------------------------------------*/

.select2-container--default .select2-selection--multiple {
	background-color: white !important;
	border: 1px solid #ccc !important;
	min-height: 40px !important;
	cursor: text !important;
	border-radius: 10px !important;
	font-size:17px !important;
}



.select2-container--default .select2-selection--multiple:hover{
	border:1px solid #468fb1 !important;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #fff !important;
	border: 1px solid #ccc !important;
	border-radius: 2px !important;
	cursor: default;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	padding: 5px 5px !important;
	font-size: 14px !important;
	color:rgb(69, 85, 97) !important; 
}
/*Select tags ----------------------------------------------------------------------------*/

.padding-right-none{
	padding-right:0px !important; 
}

.logo{
	padding-top:10px;
}

.logo img, .home-logo img{
	align-items: center;
	flex-wrap: wrap;
	vertical-align: middle;
	display: flex;
	width:100%;
	max-width:200px;
	margin: 0px auto !important;

}


/* comments and rating ---------------------------------------------------------------------------------*/



.product-rating-comment{

}
.product-rating-comment .start-checked{
	color:#ffd203 !important;
	font-size: 14px !important; 
}
.product-rating-comment .start-unchecked{
	color:#f0f0f0  !important;
	font-size: 14px  !important;

}
.product-rating-comment .product-comment{
	font-size: 13px  !important;
	color: #74a857    !important;
	font-weight:500 !important;

}
.product-rating-comment .product-rating{
	font-size: 13px  !important;
	color: #74a857  !important;
	font-weight:500 !important;
	font-style: italic;
}

.product-rating-comment{

}


.single-product-comments{
	background:rgb(252,252,252);
	margin:50px auto;
	padding:30px 20px;
	border-radius-top-left:10px;
	border:1px dashed rgb(245,245,245); 
} 

.single-product-comments .comments-heading{
	font-size:30px;
	font-weight:500;
	color:#468fb1;
	text-align:left;
	margin-bottom:30px;

}
.single-product-comments .post-area{


}
.single-product-comments .comment-area{
	box-shadow:none !important;
	font-size:14px;
	font-weight:500;
	border:#ddd;
}
.single-product-comments #comment-area:focus{
	box-shadow:none !important;
	border:1px solid rgb(124, 10, 2);;
}

.single-product-comments #comment-error{
	font--size:12px;
	color:red;
}
.single-product-comments #post-btn{
	font-size: 15px;
	/* font-weight: 600; */
	color: #fff;
	padding: 5px 50px;
	background: #74a857;
	border: 1px solid #fff;
	text-transform: capitalize;
}

.single-product-comments #post-btn:hover{

	color:#fff;
	background:#468fb1;
	border:1px solid #ddd;
}

.single-product-comments .comments{
	background:rgb(240,240,240);
	width:100%;
	margin:10px auto;
	padding:20px 20px 0px 20px;
}
.single-product-comments .comment-info{
	border:1px solid #eee;
	background-color:#fff;
	margin-bottom:20px;
	padding:10px;

}
.single-product-comments .comment-info:hover{
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
}
.single-product-comments .comment-user-name{
	font-size: 13px;
	font-weight: 500;
	color: #74a857;
}
.single-product-comments .comment-text{
	font-size:13px;
	font-weight:500;
	color: rgb(69, 89, 69);
	margin-bottom:5px;
}
.single-product-comments .comment-time{
	font-size:13px;
	font-weight:500;
	color: rgb(100, 100, 100);
	border-top:1px solid #eee;
	margin:0px;
	padding-top:5px;
}


/* post rating */

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


.post-rating { 
	border: none;
	float: left;
}

.post-rating > input { display: none; } 
.post-rating > label:before { 
	margin: 5px;
	font-size: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.post-rating > .half:before { 
	content: "\f089";
	position: absolute;
}

.post-rating > label { 
	color: #ddd; 
	float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.post-rating > input:checked ~ label, /* show gold star when clicked */
.post-rating:not(:checked) > label:hover, /* hover current star */
.post-rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.post-rating > input:checked + label:hover, /* hover current star when changing rating */
.post-rating > input:checked ~ label:hover,
.post-rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.post-rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
/* -------------rating/ comments*/


/* blogs ------------------------------------------------------------------------------------------------ */
.blogs-page{
	background: rgba(241, 246, 249, 1);
	margin-top: -1px;
}
.blogs-detail-page{
	background: rgba(241, 246, 249, 1);
	padding:15px;
}
.blog-head{

}

.blog-head h3{
	color: rgb(11, 102, 35);
	font-size:38px;
	font-weight:600;
	margin:20px 0px 30px 0px;
	text-align:center;
	padding-bottom:20px;
}

.blog-body{
	min-height: 400px;
}

.blog{
	background: #fff;
	border: 1px solid #E8E8E8;
	margin-bottom: 15px;
	max-height:165px;
	overflow:hidden;
}



.blog .blog-image{
	padding:0px;
}

.blog .blog-cat-name-section{
	background: linear-gradient(to right, #468fb1 10%, #74a857 72%);
	border-radius: 10px 0px;
}
.blog-cat-text{
	background:linear-gradient(to right, #74a857 10%, #468fb1 70%);
	color: #fff;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	padding: 5px 5px;
	border-radius:0px !important;
}

.blog .blog-image-section{

}

.blog .blog-image-section{

}

.blog .blog-image-section img{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	vertical-align:middle;
	max-width:150px;
	max-height:150px;
	margin:10px auto;
}
.blog .blog-description-section{
	padding:0px;
	padding-left:10px;
}
.blog .blog-description-section .blog-title{
	color: rgb(100,100,100);
	font-weight:600;
	font-size:18px;
	text-align:center;
	padding:5px 0px;
	margin:0px auto;
}

.blog .blog-description-section .blog-description{
	color:rgb(92, 102, 114);
	font-size:14px;
	font-weight:400;
}
.blog .blog-link-section{
	vertical-align:center;
	padding:60px 0px;
}
.blog .blog-link-section .btn{
	/*color: rgb(11, 102, 35);
	font-size:15px;
	font-weight:600;
	text-transform: capitalize;
	background:#fff;
	border:1px solid rgb(11, 102, 35);
	border-radius:50px; */
}

.blog .blog-link-section .btn:hover{
	color: #FFF;
	font-size:15px;
	font-weight:600;
	text-transform: capitalize;
	background:rgb(11, 102, 35);
	border:1px solid rgb(11, 102, 35);

}

.blog-left{
	padding:0px 30px;
}

.blog-left .blog-categories{
	background: #fff;
	margin-bottom: 30px;
	/* padding: 10px; */
	/* border: 1px solid transparent; */
	border-radius: 10px 10px 0px 0px;
}
.blog-left .blog-categories p{
	
}

.blog-left .blog-categories ul{
	padding:0px;
	color:#ccc;
} 
.blog-left .blog-categories li{
	transition:0.25s ease-in-out;
}
.blog-left .blog-categories li:hover{
	padding:0px 0px 0px 10px;
}

.blog-left .blog-categories li a{
	color: rgb(100,150,150);
	font-size:14px;
	min-width: 200px;
	padding: 2px 5px;
}
.blog-left .blog-categories li a:hover{
	color: #fff !important;
	text-decoration:none;
}
.blog-left .blog-categories .active{
	padding:0px 0px 0px 10px;
	margin:2px 0px;
} 
.blog-left .blog-categories .active a{
	color:rgb(78,78,78);
	font-weight:600;
}


.blog-left .blog-recents{
	background:#fff;
	
}



.blog-detail-image .blog-image img{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	vertical-align:middle;
	max-width: 850px;
	margin:10px auto;
}


.blog-detail-title{
	color: rgb(124, 10, 2);
	font-weight:600;
	font-size:33px;
	text-align:center;
	padding:10px 0px;
	margin:0px auto;
}

.blog-detail-description{
	padding:50px 20px;
	background:#fff;
	border-radius:5px;
}

.blog-detail-description .blog-description{
	color:rgb(92, 102, 114);
	font-size:16px;
	font-weight:400;
}



/* blogs ------------------------------------------------------------------------------------------------ */



/* Features*/

.features-row-1{
	padding-top:50px;
	width:100%;
	max-width:800px;
	margin:0px auto;
}
.features-row-2{
	padding-bottom:50px;
	width:100%;
	max-width:1000px;
	margin:0px auto;
}

.home-features .feature{
	padding:10px;
}

.home-features .feature-block{
	border: 1px solid rgb(245,245,245);
	padding: 10px 5px 0px 5px;
	background: #FCFCFC;
	min-height:270px;
	transition:ease-in-out 0.3s;
}

.home-features .feature-block .heading-md-blue{
	font-size: 17px !important;
	color: #404040 !important;
	line-height: 1.2 !important;
	text-transform: capitalize !important;
	padding: 10px 0px 20px 0px !important;
	border-bottom: 1px solid #ddd !important;
	margin-bottom: 20px !important;
	margin-top: 20px !important;
}
.home-features .feature-block .paragraph-text-sm-grey{
	font-size: 13px !important;
	color: #404040 !important;
	line-height: 1.5 !important;
	padding-top: 10px !important;
	font-weight: 400 !important;
}

.home-features .feature-block:hover{

	-webkit-box-shadow: 0px 4px 10px 1px #ccc;
	-moz-box-shadow: 0px 4px 10px 1px #ccc;
	box-shadow: 0px 4px 10px 1px #ccc;

}

.home-features .feature-block img{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	vertical-align: middle;
	max-width: 60px !important;
	margin: 0px auto;
	margin-bottom:20px;
}


/* Features*/

/* loader*/
#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: none;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}

#loading-image {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	verticle-align: middle;
	max-width: 700px !important;
	width:100%;
	margin: 0px auto;
	z-index: 1000;
}

/*loader*/


.btn-rounded{
	border-radius:50px;
}

.input-group input{
	border-radius:10px 0px 0px 10px;
	width: 100% !important;
}
.input-group .input-prepend{
	border-radius:0px 10px 10px 0px !important;
}


/*store products for store home*/
.box1 .icon,.box2,.box3,.box4,.box5 .icon li a{text-align:center}
}
.box14{overflow:hidden}

.mt-30{margin-top:30px}
.mt-40{margin-top:40px}
.mb-30{margin-bottom:30px}

.box14{/*box-shadow:0 0 6px rgb(240, 240, 240) */}



.box14{text-align:center}


.box14 .post{text-transform:capitalize}



.box14 .icon li,.box14 .post{display:inline-block}



.box14{
	/*position:relative;
	height: 200px;
	padding: 5%;*/
	position: relative;
	height: 200px;
	padding: 1%;
	display: table-cell;
	vertical-align: middle;
}

.box15,.box17,.box18{box-shadow:0 0 5px #7e7d7d;text-align:center}
.box14:before{content:"";width:100%;height:100%;background:rgba(0,0,0,.5);position:absolute;top:0;left:0;opacity:0;transition:all .35s ease 0s}
.box14:hover:before{opacity:1}
/*.box14 img{width:100%;height:auto} */
.box14 .box-content{width:90%;height:90%;position:absolute;top:5%;left:5%}
.box14 .box-content:after,.box14 .box-content:before{content:"";position:absolute;top:0;left:0;bottom:0;right:0;opacity:0;transition:all 1.2s ease 0s}
.box14 .box-content:before{border-bottom:1px solid rgba(255,255,255,.5);border-top:2px solid rgba(255,255,255,.8);transform:scale(0,1);transform-origin:0 0 0}
.box14 .box-content:after{border-left:2px solid rgba(255,255,255,.8);border-right:1px solid rgba(255,255,255,.5);transform:scale(1,0);transform-origin:100% 0 0}
.box14:hover .box-content:after,.box14:hover .box-content:before{opacity:1;transform:scale(1);transition-delay:.15s}
.box14 .title{font-size:21px;font-weight:700;color:#fff;margin:10px 0;opacity:0;transform:translate3d(0,-50px,0);transition:transform .5s ease 0s}
.box14:hover .title{opacity:1;transform:translate3d(0,0,0)}
.box14 .post{
	font-size: 12px;
	color: #fff;
	padding: 7px;
	background: rgba(0,0,0,0.5) !important;
	opacity: 0;
	border-radius: 5px;
	transform: translate3d(0,-50px,0);
	transition: all .7s ease 0s;
	min-height: 80px;
	max-height: 80px;
	overflow: hidden;
}
.box14 .icon,.box15 .icon{padding:0;list-style:none}
.box14:hover .post{opacity:1;transform:translate3d(0,0,0);transition-delay:.15s}
.box14 .icon{width:100%;margin:0;position:absolute;bottom:-10px;left:0;opacity:0;z-index:1;transition:all .7s ease 0s}
.box14:hover .icon{bottom:20px;opacity:1;transition-delay:.15s}
.box14 .icon li a{
	display: block;
	width: 30px;
	height: 30px;
	line-height: 27px;	
	border: 1px solid #468fb1;
	border-radius: 50px;
	background: #fff;
	font-size: 14px;
	color: #468fb1 !important;
	margin-right: 5px;
	transition: all .4s ease 0s;
}
.box14 .icon li a:hover{background:#468fb1;border-color:#fff; color:#fff !important;}
@media only screen and (max-width:990px){.box14{margin-bottom:30px}
}

/* Store product store home */



/* tutorials video */
.tutorial-modal-content{
	border:none;
	margin-top:25px;
	background:transparent !important;
}

.tutorial-modal-header{
	border:none;
}

.tutorial-modal-header .close{
	color:#ddd;
	font-size: 35px;
	font-weight: 200;
	margin-right: -60px;
}
.tutorial-modal-header .close:focus, .tutorial-modal-header .close:hover{
	box-shadow:none;
	outline:none;
	color:#fff;
}

.tutorial-modal-body{
	
}

/* tutorials video */

/*demo*/
.demo-section{

}

.demo-section .demo-block{
	min-height: 425px;
	padding-top: 30px;
}

.demo-section .demo-block img{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	vertical-align:middle;
	width:100%;
	max-width:400px;
	margin:0px auto;
}
/*demo*/


/* custom style for data tables */
.dataTables_wrapper .row, .dataTables_wrapper .row .col-sm-6, .dataTables_wrapper .row .col-sm-7, .dataTables_wrapper .row .col-sm-6 [type=search]{
	width:100%;
	max-width:100%;

}

.dataTables_wrapper .row .col-sm-6, .dataTables_wrapper .row .col-sm-7{
	flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

/*faq*/
.faq-accordion {
	background-color: rgb(253,253,253);
	color: #111;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 17px;
	transition: 0.5s;
	font-weight:600 !important;
	margin:bottom:10px;
	border:1px solid #f9f9f9;
	box-shadow:0px 0px 15px 1px #f5f5f5;
	-webkit-box-shadow:0px 0px 15px 1px #f5f5f5;
	-moz-box-shadow:0px 0px 15px 1px #f5f5f5;
}
.faq-accordion:focus{
	outline:none;
}
.faq-active, .faq-accordion:hover {
	background-color: #f4f4f4;

}

.faq-accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.faq-active:after {
	content: "\2212";
}

.faq-panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	margin-bottom:20px;
}

.faq-panel p{
	padding-top:10px;
}

/*faq*/

.loader-cover{
	background:rgba(240,240,240,0.91);
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:9999;
	width:100%;
	padding-top:20%;
	text-align: center;
	display:none;
}

.loader-cover img{
	max-width:50px;
}


.right-border{
	content: "";
	background-color: rgba(139, 139, 139, 0.5);
	position: absolute;
	width: 2px;
	height: 200px;
	top: 120px;
	right: 0px;
	display: block;
}
.left-border{
	content: "";
	background-color: rgba(139, 139, 139, 0.5);
	position: absolute;
	width: 2px;
	height: 200px;
	top: 120px;
	left: 0px;
	display: block;
}
.package-price-strike{
	text-decoration:line-through;
}
