body{}

.paragraph-blue{

	font-size: 14px;
	
	background-color: rgb(11, 57, 84);
	text-transform: capitalize;
}
.paragraph-blue a{
	color: white;
}
.paragraph-blue:hover{
	background-color: rgb(124, 10, 2);
	color:#fff;
}
.image-align{
	max-width:200px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	verticle-align:middle;

}
.top-margin{
	margin-top: 5px;
}
.paragraph-text-sm-green{
	font-size: 14px;
	color: green !important;
	line-height: 1.2;
	font-weight:500;
}
.text-width{
	max-width:700px;
	width: 700px;
	margin-top: 10px;
	text-decoration: 500px;
	color:grey;
}
.text-color{
	background-color: 		#808080 !important;
	color: white!important;
}
#paragraph-text-margin{
	margin-top: 10px;

}
.text-width-purchases{

	width: 50.00%;
}
.pull-left-align{
	text-align: left;

}
.pull-right-align{
	text-align: right;

}
.purchases-select-margin{
	margin-bottom: 5px !important;

}
.purchases-border-green{
	padding: 10px !important;
}
.border-dark-green{
	border: 1px solid #4CAF50;
}
.back-border{
	border: 1px solid #4CAF50;
	color: white;
	background-color: green;
}
.magin-blue-btn{
	padding-right: : 5px !important;
}
.paragraph-text-sm-grey 1{
	font-size: 14px;
	color: rgb(69, 85, 97) !important;
	line-height: 1.2;
	font-weight: bold;

}
.login-lg-green{
	color: green;
}
.border-dark-mid{
	border-style: solid;
	border-width: 1px;
	border-color: rgb(11, 57, 84);
	width: 960px !important;
}
.input-mid-width{
	max-width: 500px;
	height: 40px;	
	width: 200px;
	margin-top: 10px;
	text-decoration: 500px;
	color:grey;
}
.btn-lg-login{
	font-size: 14px;
	max-width: 500px;
	color: rgb(255, 255, 255);
	background-color: rgb(11, 57, 84);
	width: 200px;
	height: 40px ;
	line-height:1.2;
	font-weight:500;
	text-align: center;
	margin:10px 0px;
	text-transform: capitalize;
	padding:3px 15px;
}
.block-border-dotted{
	border-style: dashed;
	border-width: 1px;
	border-color: rgb(11, 57, 84);
	border-radius:0px !important;
}


.tooltipp {
	position: relative;
	display: inline-block;
}

.tooltipp .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltipp .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltipp:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}