@media(min-width: 768px){

	#menu-option {
		width: 100% !important;
	}
	.sidenav{
		width: 100% !important;
	}
}
@media(min-width: 1201px) and (max-width: 1260px){
	.owl-prev {
		left: -30px;
	}
	.owl-next {
		right: -30px;
	}	
	.owl-prev, .owl-next {
		padding: 0px 10px !important;
	}
	.owl-prev span i, .owl-next span i {
		font-size: 28px;
	}
}
@media(min-width: 1025px) and (max-width: 1200px){
	.store .header .list-inline a {
		font-size: 14px;
		margin-left: 3px;
	}
	.col-pad{
		padding: 0;
	}
	.notify-btn{
		padding: 0;
	}
	.login-vertical-line {
		height: 64px !important;
	}
	.block-head {
		height: 17px;
		padding-left: 5px;
	}
	.block-level-1 {
		width: 95px;
	}
	.block-level-3 {
		width: 75px;
		height: 65px;
	}
	.block-level-3 .v-middle-main {
		line-height: 40px;
	}
	.block-level-4 {
		height: 60px;
		width: 60px;
	}
	.block-level-4 .v-middle-main {
		line-height: 38px;
	}
	.block-level-5 {
		height: 65px;
		width: 60px;
	}
	.block-level-5 .v-middle-main {
		line-height: 45px;
	}
	.block-content h5{
		font-size: 7px;
	}
	.store-block-twice {
		/*margin-top: 27px;*/
	}
	.product-green-blocks-row ul {
		margin-top: 10px;
	}
	.edit_store-down-blocks {
		margin-right: -75px;
	}
	.line-lg {
		top: -20px;
	}
	.help-block-col .line-lg {
		top: -54px;
		left: 50px;
		height: 90px;
	}
	.help-block-col .line-to-right {
		top: 52%;
		width: 26%;
		left: 50px;
	}
}
@media(min-width: 1025px) and (max-width: 1280px){
	.resource-block .resource-img-block img{
		width: 100%;
	}
	/*dashboard icon block*/
	.main{
		max-width: 100%;
	}
	.icon-main-row {
		margin:0 !important;
		padding: 35px 10px !important;
		/* background: #eee; */
	}	
	.dashboard-icon-field{
		padding: 5px;
	}
	.dashboard-icon-field .icon-block{
		padding: 15px 5px;
	}
	.dashboard-icon-field .title h4{
		font-size: 18px;
	}
	.dashboard-icon-field .icon-block .svg-icon{
		width: 50px;
	}
	.dashboard-icon-field .icon-block h5{
		font-size: 16px;
	}
	.dashboard-icon-field .svg-block{
		min-height: 65px;
	}
	/*end dashboard icon block*/
}
@media (min-width: 992px) and (max-width: 1024px){
	.resource-block .resource-img-block img{
		width: 100%;
	}
	/*dashboard icon block*/
	.main{
		max-width: 100%;
	}
	.icon-main-row {
		margin:0 !important;
		padding: 35px 0px !important;
		/* background: #eee; */
	}	
	.dashboard-icon-field{
		padding: 5px;
	}
	.dashboard-icon-field .icon-block{
		padding: 15px 5px;
	}
	.dashboard-icon-field .title h4{
		font-size: 18px;
	}
	.dashboard-icon-field .icon-block .svg-icon{
		width: 30px;
	}
	.dashboard-icon-field .icon-block h5{
		font-size: 14px;
	}
	.dashboard-icon-field .svg-block{
		min-height: 65px;
	}
	/*end dashboard icon block*/
	.store .header .list-inline a {
		font-size: 14px;
	}
}
@media(min-width: 900px) and (max-width: 1024px){
	.col-pad{
		padding: 0;
	}
	.notify-btn{
		padding: 0;
	}
	.login-vertical-line {
		height: 64px !important;
	}
	.horizontal-line-lg {
		width: 69.3%;
	}
	.block-head {
		height: 17px;
		padding-left: 5px;
	}
	.block-level-1 {
		width: 80px;
	}
	.block-level-2 {
		height: 70px;
		width: 75px;
	}
	.block-level-3 {
		width: 75px;
		height: 65px;
	}
	.block-level-3 .v-middle-main {
		line-height: 40px;
	}
	.left-arrow .svg-icon {
		width: 24%;
	}
	.vertical-line-sm {
		margin-top: 4px;
	}
	.block-level-4 {
		height: 60px;
		width: 60px;
	}
	.block-level-4 .v-middle-main {
		line-height: 38px;
	}
	.block-level-5 {
		height: 65px;
		width: 60px;
	}
	.block-level-5 .v-middle-main {
		line-height: 45px;
	}
	.block-content h5{
		font-size: 7px;
	}
	.store-block-twice {
		/*margin-top: 27px;*/
	}
	.sales-down-blocks {
		margin-left: -35px;
	}
	.left-down-line {
		margin-top: 11px;
	}
	.help-block-col .line-lg {
		top: -54px;
		left: 50px;
		height: 90px !important;
	}
	.help-block-col .line-to-right {
		top: 52%;
		width: 26%;
		left: 50px;
	}
}
@media(min-width:991px) and (max-width: 1200px){

	.owl-prev {
		left: -2rem;
	}
	.owl-prev, .owl-next {
		padding: 0px 9px !important;
	}
	.owl-prev span i, .owl-next span i {
		font-size: 25px;
	}
	.owl-next {
		right: -2rem;
	}
	.slider-block {
		padding: 40px 15px;
		/*margin: 10px;*/
		max-width: 300px;
		width: 100% !important;
		/*margin: 0 auto;*/
	}
	.owl-item{
		/*margin: 0 23px !important;*/
	}
	.home-menu .item-link {
		padding: 0px 0px;
	}
	.home-header-2 .home-menu .item-link a {

		padding: 3px 1px;

	}
	.home-content-section {
		padding-right: 0px; 
	}
	.heading-level-1 {
		font-size: 40px;

	}
	.pricing-btn {
		min-width: 104px !important;
	}
	.info-block {
		/* background-color: yellow; */
		padding: 20px 0px;

	}
}
@media(min-width: 850px) and (max-width: 991px){
	.edit_store-down-blocks {
		margin-right: -65px;
		margin-top: 20px;
	}
	.edit-store-block-col .line-lg {
		top: -35px;
		left: 45px;
	}
	.line-to-right {
		width: 35%;
		left: 45px;
	}
	.help-block-col .line-lg {
		top: -54px;
		left: 50px;
		height: 82px;
	}
	.help-block-col .line-to-right {
		top: 52%;
		width: 26%;
		left: 50px;
	}
	.product-green-blocks-row ul {
		margin-left: 100px;
		margin-top: -25px;
	}
	.look-and-feel:before {
		left: 42%;
	}
}
@media(min-width: 768px) and (max-width: 849px){
	/*resources page*/
	.resource-block .video-div video{
		height: initial;
	}
	.resource-block .video-field .resource-content-block{
		/*margin-top: 0 !important;*/
	}
	.resource-block .video-div {
		height: 220px;
	}
	.resource-block .img-div {
		min-height: 220px;
	}
	/*end resources page*/
	.help-block-col .line-lg {
		top: -54px;
		left: 50px;
		height: 82px;
	}
	.help-block-col .line-to-right {
		top: 52%;
		width: 26%;
		left: 50px;
	}
	.product-green-blocks-row ul {
		margin-left: 100px;
		margin-top: -25px;
	}
}
@media(min-width:768px) and (max-width: 991px){
	.resource-block .resource-img-block img{
		width: 100%;
	}
	/*dashboard icon block*/
	.main{
		max-width: 100%;
	}
	.icon-main-row {
		margin:0;
		padding: 35px 0px !important;
		/* background: #eee; */
	}	
	.dashboard-icon-field{
		padding: 5px;
	}
	.dashboard-icon-field .icon-block{
		padding: 15px 5px;
	}
	.dashboard-icon-field .title h4{
		font-size: 18px;
	}
	.dashboard-icon-field .icon-block .svg-icon{
		width: 30px;
	}
	.dashboard-icon-field .icon-block h5{
		font-size: 14px;
	}
	.dashboard-icon-field .svg-block{
		min-height: 65px;
	}
	/*end dashboard icon block*/


	/*header*/
	.store .store-head{
		border-right:0;
	}
	.page-header .pull-right{
		float: none;
		text-align: center;
	}

	/*end header*/
	.store-inner-heading h4 {
		font-size: 25px;
	}






























	.slider-block .block-btn .btn-sm-default {
		font-size: 16px;
		height: 40px;
		padding: 7px 15px;
	}
	.notify-btn{
		padding: 0;
	}
	.slider-block {
		padding: 40px 15px;
		/*margin: 10px;*/
		/*max-width: 300px;*/
		/*width: 86%;*/
		/*margin: 0 auto;*/
	}
	.owl-prev, .owl-next {
		padding: 0px 9px !important;
	}
	.owl-prev span i, .owl-next span i {
		font-size: 25px;
	}
	.owl-prev {
		left: -30px;
	}

	.owl-next {
		right: -30px;
	}
	.owl-item{
		/*margin: 0 23px !important;*/
	}
	.home-menu .item-link {
		padding: 0px 0px;
	}
	.home-header-2 .home-menu .item-link a {

		padding: 3px 1px;

	}
	.col-pad{

		padding-left: 5px !important;
		padding-right:5px;
	}
	.home-content-section {
		padding-right: 0px; 
	}
	.heading-level-1 {
		font-size: 35px;

	}
	.pricing-btn {
		min-width: 104px !important;
	}
	.info-block:after {

		top: 120px;

	}
	.info-block {
		/* background-color: yellow; */
		padding: 20px 0px;
		margin: 0px 10px;
	}
	.heading-level-3 {
		font-size: 18px;

	}
	.text-level-2 {
		font-size: 14px;

	}
}
@media(min-width: 768px) and (max-width: 899px){
	.container-pad{
		padding-left: 5px;
		padding-right: 5px;
	}
	.col-pad{
		padding: 0;
	}
	.login-vertical-line {
		height: 5	6px !important;
	}
	.horizontal-line-lg {
		width: 69.3%;
	}
	.block-head {
		height: 17px;
		padding-left: 5px;
	}
	.block-level-1 .block-content h5{
		font-size: 11px;
	}
	.block-level-1 {
		width: 65px;
	}
	.block-level-2 .block-content h5{
		font-size: 10px;
	}
	.block-level-2 {
		height: 60px;
		width: 70px;
	}
	.block-level-2 .v-middle-main {
		line-height: 40px;
	}
	.block-level-3 .block-content h5{
		font-size: 8px;
	}
	.block-level-3 {
		width: 60px;
		height: 50px;
	}
	.block-level-3 .v-middle-main {
		line-height: 33px;
	}
	.left-arrow .svg-icon {
		width: 24%;
	}
	.vertical-line-sm {
		margin-top: 2px;
	}
	.block-level-4 .block-content h5 {
		font-size: 7px;
	} 
	.block-level-4 {
		height: 50px;
		width: 55px;
	}
	.block-level-4 .v-middle-main {
		line-height: 33px;
	}
	.block-level-5 .block-content h5 {
		font-size: 7px;
	} 
	.block-level-5 .block-head .svg-icon {
		width: 13px;
		height: 20px;
	}
	.block-level-5 {
		height: 45px;
		width: 60px;
	}
	.block-level-5 .v-middle-main {
		line-height: 30px;
	}
	.store-block-twice {
		/*margin-top: 15px;*/
	}
	.store-down-connection img {
		left: 22px;
	}
	.sales-down-blocks {
		margin-left: -35px;
		margin-top: 5px;
	}
	.sales-down-blocks .line-lg {
		top: -25px;
	}
}
@media(min-width: 320px) and (max-width:767px) {
	/*pricing page*/
	.price-tabs .tab-btns .tab-left {
		min-width: 100px;
		padding: 10px 15px;
		font-size: 13px;
	}
	.price-tabs .tab-btns .tab-right {
		min-width: 100px;
		padding: 10px 15px;
		font-size: 13px;
	}
	.price-tabs{
		padding-bottom: 0px;
	}
	/*end pricing page*/
	.resource-block .resource-img-block img{
		width: 100%;
	}
	.icon-circle{
		box-shadow: 0px 0px 10px 0px #b5b5b5;
		-webkit-box-shadow: 0px 0px 10px 0px #b5b5b5;
		-moz-box-shadow: 0px 0px 10px 0px #b5b5b5;
		-o-box-shadow: 0px 0px 10px 0px #b5b5b5;
	}
	.btn-empty {
		border: 1px solid #74a857;
		color: #8b8b8b;
	}
	.btn-empty:hover{
		color: #8b8b8b;
	}
	/*new*/
	.static-tabs {
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		position: relative;
		background: white;
		padding: 50px 20px;
	}
	.section-login-signup {
		padding: 50px 30px 0px 30px;
		width: 90%;
	}
	.paragraph-text-md-black-blod {
		font-size: 16px;
	}
	/*end new*/
	.box14 {
		display: block;
	}
	.store .header {
		min-height: 85px;
	}
	.store .header .store-top-menu {
		padding: 5px 0px 5px 0px;
	}
	.store-left-menu {
		border-right: 0;
		min-height: 170px;
	}
	.store-header-search .search-input{
		width: 100% !important;
	}
	.store-inner-heading h4{
		font-size: 20px;
		margin-bottom: 20px;
	}
	.store-cart-table td {
		font-size: 14px;
	}
	.store-input {
		max-width: 100%;
	}
	.store-cart{
		padding:0;
	}
	.store-product-list{
		padding:0;
	}
	.store-customer-information{
		padding:0;
	}
	.btn-sm-blue {
		font-size: 12px !important;
		min-width: 100px !important;
		padding: 4px 15px !important;
	}
	.store-order-image img {
		width: 60px;
		height: 60px;
	}
	.store-order-product-name {
		font-size: 14px;
	}
	.store-invoice-text{
		padding:0;
	}
	.store-invoice-text p {
		font-size: 14px;
	}
	.store-paragraph {
		font-size: 14px;
	}
	.store-single-product-image{
		margin-bottom: 20px;
		padding: 0;
	}
	.single-product-comments .comments-heading {
		font-size: 20px;
	}
	.post-area textarea{
		font-size: 14px;
	}
	.single-product-comments {
		padding: 30px 0px;
	}
	.btn-green-dark {
		font-size: 12px;
		min-width: 85px;
		padding: 5px 10px;
	}
	/*signup page*/
	.section-login-signup {
		padding: 50px 15px 0px 15px !important;
	}
	.input-effects {
		margin: 30px 0% 5px 0% !important;
	}
	.btn-md-red {
		font-size: 15px !important;
		width:160px !important;
		height: 38px !important;
	}











	/*footer*/
	.store-footer-right {
		padding: 20px 10px 20px 10px;
	}
	.store-footer-links {
		font-size: 14px;
	}
	/*end footer*/
	/*responsive header*/
	.toggle-bars{
		font-size:30px;
		cursor:pointer;
		display: block;
		text-align: right;
		padding-right: 20px;
	}
	.closebtn{
		display: block;
	}
	.sidenav {
		height: 100%;
		width: 0;
		margin-top: 0 !important;
		position: fixed;
		z-index: 2;
		box-shadow: 0px 0px 15px 0px #f4f4f4;
		-webkit-box-shadow: 0px 0px 15px 0px #f4f4f4;
		-moz-box-shadow: 0px 0px 15px 0px #f4f4f4;
		-o-box-shadow: 0px 0px 15px 0px #f4f4f4;
		top: 0;
		right: 0;
		background-color: #fff;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}
	.sidenav ul li{
		display: block !important;
		margin-right:0 !important;

	}
	.sidenav li{
		display: block !important;
		margin-right:0 !important;
		text-align: center;
	}
	.home-menu .item-link-dark{
		padding: 2px 10px 2px 10px !important;
	}
	.sidenav a {
		/*padding: 8px 8px 8px 32px;*/
		text-align: center !important;
		text-decoration: none;
		font-size: 18px !important;
		color: #818181;
		/*display: block;*/
		transition: 0.3s;
	}

	.sidenav a:hover {
		color: #f1f1f1;
	}

	.sidenav .closebtn {
		position: absolute;
		top: -8px;
		right: 20px;
		font-size: 30px !important;
	}
	/*end responsive header*/
	.row-background{
		background-size: 100% 100%;
	}
	.store-inner-body{
		padding: 0;
	}
	/*responsive*/
	.notify-btn{
		padding-right: 5px;
	}
	.main-container{
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.section-padding .row-fixed-width{
		margin-bottom: 20px;
	}
	.home-header .home-menu {
		padding: 0;
	}
	.home-header {
		min-height: 75px;
	}
	.col-padding-video{

		padding:0px !important;
	}
	.heading-level-2 {
		font-size: 22px;

	}
	.home-header-2 .home-menu ul li .btn-sm-default {
		background: linear-gradient(-90deg, #74a857, #468fb1);
		background: -webkit-linear-gradient(-90deg, #74a857, #468fb1);
		background: -moz-linear-gradient(-90deg, #74a857, #468fb1);
		background: -o-linear-gradient(-90deg, #74a857, #468fb1);
		border: 0;
	}
	.col-pad{
		padding-left: 5px;
		padding-right:5px;
	}
	.section-content-block .block-email {

		padding: 5px 0;

	}

	.info-block-display:after{

		display: none;
	}
	.home-container .row-integrations{

		width: 100%;
	}
	.home-container .row-integrations img{

		max-width:100px;
	}
	.text-level-2 {
		font-size: 13px;

	}
	.block-btn{
		text-align: center !important;

	}
	.text-img-block {
		text-align: center !important;
	}
	.img-block-3 {
		margin-left: 0px;
	}
	.img-block-2 {
		margin-left: 0px;
	}
	.toggle-menu {
		position: absolute;
		right: 22px;
		top: 20px;
		display: block;
		z-index: 1111;
	}
	#menu-option {
		background-color: #fff;
		z-index: 2222;
		width: 0px;
		right: 0px;
		top: 0px;
		overflow-x: hidden;
		position: fixed;
		transition: 1.5s;
		-webkit-transition: 0.5s;
		height: 100%;
		text-align: center !important;
		border-left: 1px solid #f5f5f5;

	}


	.toggle-bars{
		display: block;
		color:#468fb1;
	}
	.header .item-link, .home-header .item-link {
		display: block;
	}
	.home-header  .home-menu ul{
		margin-top: 60px;

	}
	.home-header  .home-menu ul li{

		padding: 15px;
	}
	..home-header .item-link:after, .header .item-link:after {

		display: none;

	}
	.home-header .item-link:hover::after,  .header .item-link:hover::after {
		width: 0%;
	}
	.home-content-section {
		padding-right: 0px; 
	}
	.home-header-2 .home-menu .item-link a {

		color: #000;

	}
	.btn-home-sm-empty{
		color:#000;
		border: 1px solid #000;
	}
	.bg-home-section {

		padding-top: 140px;
		padding-bottom: 50px;
	}
	.bg-home-section {
		background-image: none;

	}
	.block-video{
		text-align: center !important;
		margin-top:50px;
	}
	.home-header-2 .home-logo img {

		width: 150px;
		max-width: none;

	}
	.toggle-btn {

		font-size: 25px;

	}
	.heading-level-1 {
		font-size: 30px;

	}
	.pricing-btn {
		min-width: 104px !important;
	}
}
@media(min-width: 576px) and (max-width: 767px){
	/*dashboard icon block*/
	.dashboard-icon-field{

	}
	.resource-block .img-div {
		height: 225px;
		width: 605px;
		display: table-cell;
		text-align: center;
		line-height: 225px;
	}
	/*end dashboard icon block*/
	/*resources page*/
	.resource-block .img-block {
		width: 70%;
	}
	/*resources page*/
	.logo img{
		width: 80px;
	}
	.store-product-list .store-product img {
		width: 200px; 
		height: 200px; 
	}
	.heading-lg-red {
		font-size: 18px !important;
	}
	.heading-lg-green {
		font-size: 20px !important;
	}
	.paragraph-text-sm-white {
		font-size: 14px !important;
	}
	.store-text-black {
		font-size: 14px !important;
	}
	.store-product-list .store-product {
		padding: 10px 10px 10px 10px;
	}
	.store-about-block h2{
		font-size: 20px !important;
	}
	.store-body{
		min-height: initial;
	}
















	/*site map*/
	.container-pad{
		padding-left: 5px;
		padding-right: 5px;
	}
	.col-pad{
		padding: 0;
	}
	.item-li {
		margin: 0px !important;
	}
	.dash-col-pad{
		padding: 0;
	}
	.login-vertical-line {
		height: 56px !important;
	}
	.horizontal-line-lg {
		width: 65.3vw;
	}
	.block-head {
		height: 17px;
		padding-left: 5px;
	}
	.block-level-1 .block-content h5{
		font-size: 10px;
	}
	.block-level-1 {
		height: 60px;
		width: 56px;
	}
	.block-level-1 .v-middle-main {
		line-height: 43px;
		text-align: center;
	}
	.block-level-2 .block-content h5{
		font-size: 10px;
	}
	.block-level-2 {
		height: 60px;
		width: 70px;
	}
	.block-level-2 .v-middle-main {
		line-height: 40px;
	}
	.block-level-3 .block-content h5{
		font-size: 8px;
	}
	.block-level-3 {
		width: 60px;
		height: 50px;
	}
	.block-level-3 .v-middle-main {
		line-height: 33px;
	}
	.left-arrow .svg-icon {
		width: 16%;
	}
	.vertical-line-sm {
		margin-top: 2px;
		height: 22px;
	}
	.horizontal-line-sm {
		/*margin-top: 50px;*/
		width: 65%;
	}
	.sales-down-blocks .line-lg {
		top: -20px;
	}
	.store-1-blocks .line-lg {
		top: -43px;
	}
	.edit_store-down-blocks {
		margin-right: -60px;
		margin-top: 33px;
	}
	.edit-store-block-col .line-lg {
		top: -33px;
		left: 42px;
	}
	.line-to-right {
		left: 42px;
		top: 43%;
	}
	.store-start-linkage .horizontal-line-sm {
		width: 70%;
	}
	.block-level-4 .block-content h5 {
		font-size: 7px;
	} 
	.block-level-4 {
		height: 50px;
		width: 55px;
	}
	.block-level-4 .v-middle-main {
		line-height: 33px;
	}
	.block-level-5 .block-content h5 {
		font-size: 7px;
	} 
	.block-level-5 .block-head .svg-icon {
		width: 13px;
		height: 20px;
	}
	.block-level-5 {
		height: 45px;
		width: 60px;
	}
	.block-level-5 .v-middle-main {
		line-height: 30px;
	}
	.store-block-twice {
		/*margin-top: 15px;*/
	}
	.store-down-connection img {
		width: 100%;
		left: 5px;
	}
	.edit-store-down-connection img {
		height: 70%;
	}
	.edit-store-link-block {
		margin-top: 10px;
	}
	.sales-down-blocks {
		margin-left: -35px;
	}
	.left-arrow .svg-icon line {
		stroke-width: 10px;
		/* width: 100px; */
	}
	.help-down-blocks {
		margin-right: -40px;
	}
	.help-block-col .line-lg {
		top: -54px;
		left: 30px;
		height: 82px;
	}
	.help-block-col .line-to-right {
		top: 52%;
		width: 26%;
		left: 30px;
	}
	.product-green-blocks-row ul {
		margin-top: 0px;
	}
	.look-and-feel:before {
		left: 41.5%;
	}
	/*end site map*/








	.text-level-1 {
		font-size: 16px;
	}
	.btn-lg {
		padding-left: 25px !important;
		padding-right: 25px !important;
		font-size: 14px !important;
		height: 40px !important;
	}
	.pricing-btn {
		min-width: 100px !important;
		font-size: 15px;
		height: 40px;
	}
	.block-email .email-input input {
		font-size: 15px;
		margin-top: 0;
	}
	.block-email .email-input input::placeholder{
		font-size: 15px;
	}
	.slider-block {
		/*padding: 40px 15px;*/
		/*margin: 10px;*/
		/*max-width: 300px;*/
		/*width: 86%;*/
		/*margin: 0 auto;*/
	}
	.owl-prev, .owl-next {
		padding: 0px 9px !important;
	}
	.owl-prev span i, .owl-next span i {
		font-size: 25px;
	}
	.owl-prev {
		left: -30px;
	}

	.owl-next {
		right: -30px;
	}
	.row-max-width{

		max-width: 70%;
		margin:0 auto;
	}
}
@media(min-width: 320px) and (max-width: 640px){
	.grow {
		max-width: 300px;
		margin: 0 auto;
	}
}
@media(min-width: 320px) and (max-width: 576px){
	/*dashboard icon block*/
	.icon-main-row {
		margin:0;
		padding: 35px 0px !important;
		/* background: #eee; */
	}
	.main .main-body .inner-body-block{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.dashboard-icon-field{
		padding: 5px;
	}
	.dashboard-icon-field  .title h4{
		font-size: 18px;
	}
	.dashboard-icon-field .icon-block .svg-icon{
		width: 30px;
	}
	.dashboard-icon-field .icon-block h5{
		font-size: 14px;
	}
	.dashboard-icon-field .svg-block{
		min-height: 65px;
	}
	/*end dashboard icon block*/
	/*resources css*/
	.resource-block{
		padding: 0;
	}
	.resource-title {
		font-size: 20px;
	}
	.resource-text{
		font-size: 14px;
	}
	.btn-empty-md {
		font-size: 14px;
		min-width: 110px !important;
		padding: 6px 15px;
	}
	.resource-block .img-div{
		height: 124px;
		line-height: 124px;
	}
	.video-div {
		height: initial;
	}
	.video-field .resource-content-block{
		margin-top: 0 !important;
	}
	.resource-content-block{
		margin-top: 0 !important;
	}
	/*end resources css*/
	.btn-empty{
		padding: 4px 15px 4px 30px !important;
		font-size: 14px !important;
	}
	.contact-phone {
		margin-right: 88px;
	}
	/*new*/
	.store-left-menu{
		border-right:0;
		min-height:170px !important;
	}
	.store-footer-right {
		padding: 20px 10px 20px 10px !important;
	}
	.store-footer-right .nauk-info-connections{
		text-align: center !important;
	}
	.store-product-list .store-product {
		padding: 10px 15px 10px 15px !important;
	}
	.static-contact-us h4 {
		font-size: 20px !important;
	}
	.input-effects {
		margin: 25px 0% 15px 0% !important;
	}
	.form-textarea {
		border-radius: 5px;
	}
	.static-content-btn {
		font-size: 16px !important;
		min-width: 150px !important;
		width: 70% !important;
		height: 45px !important;
		padding: 10px;
	}
	/*end new*/



	.main-menu{
		padding-top: 10px !important;
	}
	.navbar{
		padding: 0;
	}
	.menu-item a {
		padding: 0px 5px !important;
	}
	.main-menu .navbar-right li{
		margin-right: 0;
	}













	.slider-detail{
		height: 130px;
	}
	.logo img{
		width: 80px;
	}
	.heading-lg-red {
		font-size: 18px !important;
	}
	.heading-lg-green {
		font-size: 20px !important;
	}
	.store-text-black {
		font-size: 14px !important;
	}
	.store-product-list .store-product {
		padding: 10px 10px 10px 10px;
	}
	.store-about-block h2{
		font-size: 20px !important;
	}
	.store-body{
		min-height: initial;
	}














	/*footer*/
	.footer p, .footer p a{
		padding-bottom: 15px;
	}

	/*end footer*/

	.resource-block .slider-block {
		padding: 20px 5px !important;
	}
	.pricing-btn {
		min-width: 85px !important;
		font-size: 14px;
	}
	.block-email .email-input input {
		font-size: 14px;
		margin-top: 0;
	}
	.block-email .email-input input::placeholder{
		font-size: 14px;
	}
	.notify-btn{
		padding-right:  5px;
	}
	.grow {
		max-width: 220px !important;
		margin: 0 auto;
	}
	.owl-prev {
		left: -30px !important;
	}

	.owl-next {
		right: -30px !important;
	}
	.owl-prev, .owl-next {
		padding: 0px 9px !important;
	}
	.owl-prev span i, .owl-next span i {
		font-size: 25px;
	}
	.slider-block {
		padding: 65px 35px;
		/*margin: 10px;*/
		/*max-width: 250px;*/
		/*margin: 0 auto;*/
	}
	.heading-level-1 {
		font-size: 25px;
	}
	.text-level-1 {
		font-size: 14px;

	}
	.info-block:after{
		display: none;
	}
	.btn-sm-default {
		font-size: 14px !important;
		height: 35px;
		padding: 5px 15px;

	}
	.btn-lg {
		padding-left: 25px !important;
		padding-right: 25px !important;
		font-size: 14px !important;
		height: 40px !important;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.heading-level-2 {
		font-size: 20px;

	}
}
@media(min-width: 320px) and (max-width: 375px){

	.home-header-2 {
		padding-left: 15px;
		padding-right: 15px;
	}

	.block-video video {
		border-radius: 10px;

	}
	.toggle-menu {

		right: 15px;
		top:15px;

	}

	.heading-level-1 {
		font-size: 25px;
	}
	.toggle-btn {

		font-size: 25px;

	}
	.home-header-2 .home-logo img {

		width: 130px;
		max-width: none;
		/*margin: 10px !important;*/
		margin-top:10px;
	}
	.pricing-btn {
		min-width: 43px !important;
	}
	.section-content-block .block-email {

		padding: 5px 0;
		margin:0px;

	}
	.col-space{

		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.col-pad{
		padding-right: 5px !important;
		padding-left: 5px !important;
	}
}