
/* #0056b3 @import url("https://use.typekit.net/cpc3oyl.css");*/

@font-face {
	font-family: 'Malgun Gothic';
	src: url('fonts/Malgun-Gothic.eot'); /* IE9 Compat Modes */
	src: url('fonts/Malgun-Gothic.eot?#iefix') format('embedded-opentype'), 
	url('fonts/Malgun-Gothic.woff') format('woff'), /* Modern Browsers */
	url('fonts/Malgun-Gothic.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('fonts/Malgun-Gothic.svg#svgFontName') format('svg'); 
}

body{
	font-family: 'Malgun Gothic' !important;
	/*font-family: 'Montserrat', sans-serif !important; */
	/*font-family:acumin-pro, sans-serif !important;*/

} 
/*video custoized*/

.video-home-session{

	position: relative;

}


#vid-play{

	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	

}




.img-show{
	opacity: 0;
	width:60px;
	height: 60px;

	/*height:100px;*/
}

.video-hover:hover ~ .img-show{
	opacity: 1;

}
.img-show:hover{

	opacity: 1;
}





/* scroll*/
::-webkit-scrollbar{
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: transparent; 
}

::-webkit-scrollbar-thumb {
	background: #74a857; 
}

::-webkit-scrollbar-thumb:hover{
	background: #468fb1; 
}
/* scroll*/
/*loader*/
/*<style>

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/preloader.gif) center no-repeat #fff;
}
</style>*/
/*loader*/

#textwidth { 
	min-width:700px;
}
#create{
	background-color:  	#A52A2A


}


@media (min-width: 1280px){
	.container {
		max-width: 1280px;
	}



	.main .section-login-signup{
		width:500 !important;
		margin:30px auto !important;

	}
	.header .navbar{
		float:right;
		padding-right:1px;
	}
	.main{
		max-width: 1280px !important;
	}
	.store{
		max-width: 1280px !important;
	}
	.store-footer-row{
		max-width: 960px !important;
		margin:0px auto;
	}

	.home-row .col-stretched{
		padding-left: 270px;
		padding-right: 270px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.home-row-1, .home-row-2{
		/*padding:20px 250px;*/
	}
	.home-row-1 .heading-col{
		max-width:600px;
		margin:5px auto;
	}

	.home-row-2 .block .nauk-info-connections{
		/*min-height:180px;*/
	}

	.home-row-2 .block .nauk-info-connections{
			/*padding-top:10px;
			padding-bottom:0px;*/
		}

		.home-row-3 {
			/*padding:20px 280px;*/
		}

		.home-row-3 .block{
			height:100px;
			padding:10px;
		}

		.home-row-4{
			/*padding:20px 130px;*/
		}

		.home-row-4 .payment-intro{
			max-width:700px;
			margin:10px auto;
		}

		.footer{
			padding:20px 150px;
		}

		.footer-main{
			padding:20px !important;
			max-width: 1080px;
			margin: 0px auto !important;
		}

		.row-background .col-overlay{
			background:rgba(0,0,0,0.5);
			padding:30px 100px;
		}

		.row-background-2 .col-overlay{
			background:rgba(0,0,0,0.5);
			/*padding:30px 100px;*/
		}
		.row-background .col2{
			padding-left:100px;
		}
		.row-background{
			/*width:1310px !important;  
			margin-left:-30px;*/
		}
		.packages-row{
			padding: 50px 10px;
			width: 100%;
			margin: 0px auto;
		}

	}

	@media (max-width: 990px){
		.row-background{
			/*width:990px !important;  */
			/*margin-left:-30px;*/
		}
		.btn-lg-default, .btn-lg-red{
			font-size: 13px  !important;;
			padding:5px 10px !important;
			height:30px  !important;
			min-width:200px !important;

		}
	}

	@media (max-width: 500px){
		.btn-lg-default , .btn-lg-red{
			font-size: 13px  !important;;
			padding:5px  !important;
			height:30px  !important;
			min-width:200px !important;

		}
		.home-container .margin-default{
			margin-top:20px;
			margin-bottom:20px;
		}

		.paragraph-text-md-grey-blod{
			font-size: 14px !important; 
			color: #A7A7A7;
			line-height: 1.2;
			font-weight: 400;
		}

		.paragraph-text-md-white-blod{
			font-size: 14px !important;
			color: #fff;
			line-height: 1.2;
			font-weight: 400;
		}

		.paragraph-text-md-green-blod{
			font-size: 14px !important;
			color: #78AB4F;
			line-height: 1.2;
			font-weight:400;
		}
		.text-70{
			width:70px !important;
			word-wrap:break-word !important;
		}

		.paragraph-text-sm-white{
			font-size: 14px !important;
			color: #fff;
			line-height: 1.2;
			font-weight: 100;
		}
		.heading-lg-yellow{
			font-size: 25px !important;
			color: #EECA23;
			line-height: 1.2;
			font-weight: 500;
		}
	}
	.container a:hover{
		text-decoration:none;
	}



	.header .item-link, .home-header .item-link{
		display:inline-block;
	}

	.home-header .item-link:after, .header .item-link:after{
		content: '';
		display: block;
		width: 0;
		height: 2px;
		background: #74a857;
		transition: width .3s;
	}
	.home-header .item-link:hover::after,  .header .item-link:hover::after {
		width: 100%;
	}

	.heading-lg-red{
		font-size: 24px;
		line-height: 1.167;
		font-weight: 700;
		text-transform: capitalize;
		color: #468fb1;
		text-shadow: 2px 2px #eee;

	}
	.heading-xl-green{
		font-size: 35px;
		color:#74a857;
		line-height: 1.2;
		font-weight: 600;
		text-transform: capitalize;
	}

	.heading-lg-green{
		font-size: 30px;
		/*background: linear-gradient(#74a857, #468fb1);
		color: rgb(11, 102, 35);*/
		background: linear-gradient(to right, #74a857 10%, #468fb1 70%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		line-height:  1.4;
		font-weight: 600;
		text-transform: capitalize;
	}

	.heading-sm-grey{
		font-size: 14px;
		color: rgb(69, 85, 97) !important;
		line-height: 1.2;
		font-weight:500;
		text-transform: capitalize;
	}

	.paragraph-text-lg-blue{
		font-size: 19.466px;
		/*font-family: "Myriad Pro";*/
		color: rgb(69, 85, 97);
		font-weight:400;
		line-height: 1.2;
	}

	.paragraph-text-xs-grey{
		font-size: 12px;
		color: rgb(69, 85, 97) !important;
		line-height: 1.2;
		font-weight:500;
	}
	.paragraph-text-xs-grey-bold{
		font-size: 14px;
		color: #A7A7A7;
		line-height: 1.2;
		font-weight:500;
	}
	.paragraph-text-md-grey-blod{
		font-size: 24px;
		color: #A7A7A7;
		line-height: 1.2;
		font-weight: 500;
	}

	.paragraph-text-md-white-blod{
		font-size: 24px;
		color: #fff;
		line-height: 1.2;
		font-weight: 500;
	}

	.paragraph-text-md-black-blod{
		font-size: 24px;
		color: #000;
		line-height: 1.2;
		font-weight: 500;
	}

	.paragraph-text-md-green-blod{
		font-size: 24px;
		color: #78AB4F;
		line-height: 1.2;
		font-weight:500;
	}

	.paragraph-text-sm-white{
		font-size: 20px;
		color: #fff;
		line-height: 1.2;
		font-weight: 100;
	}

	.heading-lg-yellow{
		font-size: 48px;
		color: #EECA23;
		line-height: 1.2;
		font-weight: 600;
	}
	.heading-sm-black{
		font-size: 15px;
		color: #404040;
		line-height: 1.2;
		font-weight: 500;
	}

	.margin-none{
		margin:0px;
	}
	.btn-fix-style{
		position: relative;
		top: 2px;

	}
	.btn-fix-style:focus{
		outline:none;
		box-shadow:none;
	}

	.btn-lg-red{
		/*font-size: 19.5px !important;
		color: rgb(255, 255, 255) !important;
		text-align: center;
		background-color: rgb(124, 10, 2);
		width: 355px !important;
		height: 67px !important;
		padding:20px 30px;
		margin:20px auto !important;
		line-height:1.2; 
		font-weight:600;
		border-radius:50px !important;
		border:0px !important;
		*/
		font-size: 18.5px;
		color: rgb(240, 240, 240);
		text-align: center;
		/* background-color: rgb(124, 10, 2); */
		background: linear-gradient(-90deg, #74a857, #468fb1);
		min-width: 240px;
		height: 55px;
		padding:12px 15px;
		margin:20px auto;
		/*line-height:1.2;*/ 
		font-weight:400;
		border-radius:70px;
		border:0px;
		transition: all 1s linear;  
		-webkit-transition: all 1s linear;
		-moz-transition: all 1s linear;
		-o-transition: all 1s linear;
	}

	.btn-search-list:hover{
		background:#468fb1;
		color:#fff;
		border-color:#468fb1;
	}

	.btn-lg-default{
		font-size: 18.5px;
		color: rgb(240, 240, 240);
		text-align: center;
		/* background-color: rgb(124, 10, 2); */
		background: linear-gradient(-90deg, #74a857, #468fb1);
		min-width: 240px;
		height: 55px;
		padding:12px 15px;
		margin:20px auto;
		/*line-height:1.2;*/ 
		font-weight:400;
		border-radius:70px;
		border:0px;
		transition: all 1s linear;  
		-webkit-transition: all 1s linear;
		-moz-transition: all 1s linear;
		-o-transition: all 1s linear;



	}

	.btn-lg-default:hover, .btn-lg-default:focus, .btn-lg-red:hover, .btn-lg-red:focus, .btn-sm-default:hover, .btn-sm-default:focus{
		color:#fff;
		-webkit-box-shadow: 0px 3px 10px rgba(116,168,87,1);
		-moz-box-shadow: 0px 3px 10px rgba(116,168,87,1);
		box-shadow: 0px 3px 10px rgba(116,168,87,1);
	}
	.btn-sm-default:active{
		/*color: #3c3c3c;*/
		background: linear-gradient(-90deg, #74a857, #468fb1) !important;
		background:-moz-linear-gradient(-90deg, #74a857, #468fb1) !important;
		background: -o-linear-gradient(-90deg, #74a857, #468fb1) !important;
		background: -webkit-linear-gradient(-90deg, #74a857, #468fb1) !important;
	}
	.btn-sm-default{
		font-size: 16px;
		color: rgb(250,250,250);
		text-align: center;
		background: linear-gradient(-90deg, #74a857, #468fb1);
		background: -webkit-linear-gradient(-90deg, #74a857, #468fb1);
		background: -o-linear-gradient(-90deg, #74a857, #468fb1);
		background: -moz-linear-gradient(-90deg, #74a857, #468fb1);
		min-width: 100px;
		height: 40px;
		padding: 8px 15px;
		/*font-weight:600;*/
		border-radius:70px;
		border:0px;
		transition: all 0.3s linear;  
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
	}
	.btn-xs{
		font-size:14px;
		padding:1px 12px;
		color:#74a857;
		border:1px solid #74a857;
		background:transparent;
		border-radius:50px;


	}
	.btn-xs:hover{
		color:#fff !important;
		border:1px solid #74a857;
		background:#74a857;


	}
	.static-content-btn{
		font-size: 18px !important;
		color: rgb(255, 255, 255) !important;
		text-align: center;
		background: linear-gradient(-90deg, #74a857, #468fb1);
		min-width: 200px !important;
		width: 100% !important;
		height: 50px !important;
		margin:20px auto !important;
		font-weight:400;
		padding: 10px;
		border-radius:50px !important;
		border:0px !important;
	}

	.static-content-btn:hover,  .static-content-btn:focus{
		background-color:#74a857;
		border:0px !important;
		box-shadow:none !important;
	}

	.btn-md-red{
		font-size: 18px;
		color: rgb(255, 255, 255) !important;
		text-align: center;
		background: linear-gradient(-90deg, #74a857, #468fb1);
		width: 367px;
		height: 43px;

		margin:2px auto !important;
		font-weight:500;
		border:0px !important;
		border-radius:50px !important;
		text-transform: capitalize;

	}
	.btn-md-red:hover, .btn-md-red:focus, .btn-sm-red:hover, .btn-sm-red:focus{
		background-color:#468fb1;
		border:0px !important;
		box-shadow:none !important;
	}
	.btn-sm-red{
		font-size: 16px !important;
		color: rgb(255, 255, 255) !important;
		text-align: center;
		background: linear-gradient(-90deg, #74a857, #468fb1);
		text-transform:capitalize;
		width: 280px;
		height: 43px;
		border-radius:50px;
		margin:2px auto !important;
		line-height:2;
		font-weight:500;
		border:0px !important;
	}


	/*Form button */
	.btn-form {
		transition: all 0.5s;
		font-size: 18px !important;
		color: rgb(255, 255, 255) !important;
		text-align: center;
		background: linear-gradient(-90deg, #74a857, #468fb1);
		min-width: 250px;
		height: 43px;
		margin:2px auto !important;
		font-weight:500;
		padding:7px;
		border:0px !important;
		border-radius:50px !important;
		text-transform: capitalize;
	}
	.btn-form:hover {
		padding-right: 25px;
	}

	/* form button*/
	/* Default buttons */
	.default-btn-red{
		font-size: 12px !important;
		color: rgb(255, 255, 255) !important;
		text-align: center;
		background: linear-gradient(-90deg, #74a857, #468fb1);
		text-transform: capitalize;
		border-radius: 50px;
		margin: 2px auto !important;
		padding: 3px 8px;
		font-weight: 500;
		min-width:80px;
		border: 1px solid rgb(124, 10, 2) !important;
		transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

	}
	.default-btn-red:focus{

		box-shadow: 0 0 0 0.2rem rgba(124, 10, 2, 0.4) !important;
	}

	.default-btn-red:hover{
		background:#fff;
		color: #74a857 !important;
	}

	.default-btn-green{
		font-size: 12px !important;
		color: rgb(255, 255, 255) !important;
		text-align: center;
		background: #74a857;
		text-transform: capitalize;
		border-radius: 50px;
		margin: 2px auto !important;
		min-width:130px;
		padding: 5px 12px;
		font-weight: 500;
		border: 1px solid #74a857 !important;
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;

	}
	.default-btn-green:focus{
		box-shadow: 0 0 0 0.2rem  #74a857 !important;
	}

	.default-btn-green:hover{
		background:#fff;
		color: #74a857 !important;
	}


	.default-btn-grey{
		font-size: 12px !important;
		color: rgb(255, 255, 255) !important;
		text-align: center;
		background: linear-gradient(-90deg, #74a857, #468fb1);
		text-transform: capitalize;
		border-radius: 50px;
		margin: 2px;
		padding: 3px 8px;
		font-weight: 500;
		min-width:50px;
		border: 1px solid #74a857 !important;
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
	}

	.default-btn-grey:focus{

		box-shadow: 0 0 0 0.2rem rgba(69, 85, 97, 0.4) !important;
	}

	.default-btn-grey:hover{
		background:#fff;
		color: #74a857 !important;
	}

	.default-btn-blue{
		font-size: 12px !important;
		color: rgb(255, 255, 255) !important;
		text-align: center;
		background: #468fb1;
		text-transform: capitalize;
		border-radius: 50px;
		margin: 2px auto !important;
		padding: 3px 8px;
		font-weight: 500;
		min-width:80px;
		border: 1px solid #468fb1 !important;
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
	}

	.default-btn-blue:focus{

		box-shadow: 0 0 0 0.2rem #468fb1 !important;
	}

	.default-btn-blue:hover{
		background:#fff;
		color:#468fb1 !important;
	}


	/* Default buttons */


	.paragraph-text-sm-grey{
		font-size: 14px;
		color: rgb(69, 85, 97) !important;
		line-height: 1.2;
		font-weight:500;
	}
	.paragraph-text-sm-grey-bold{
		font-size: 13px;
		color: rgb(69, 85, 97) !important;
		line-height: 1.2;
		font-weight:bold;
	}
	.paragraph-text-sm-green{
		color: rgb(11, 102, 35);
		font-size: 14px;
		font-weight:500;
	}

	.text-capital{
		text-transform: capitalize;
	}
	.footer{
		background-color: rgb(92, 102, 114);
	}

	.footer h4{
		font-size: 19.466px;
		color: rgb(255, 255, 255);
		line-height: 1.2;
		text-align: left;
		margin-bottom:2px !important;
	}

	.footer p, .footer p a{
		font-size: 14px;
		color: rgb(255, 255, 255);
		line-height: 1.2;
		text-align: left;

	}

	.footer .footer-left p{
		margin-top:20px;
		margin-bottom:20px;
	}

	.footer .footer-right {}

	.btn-sm-blue{
		font-size: 15px;
		color: rgb(255, 255, 255);
		background-color:#458fb4;
		text-align: center;
		text-transform: capitalize;
		min-width: 150px;
		height: 26px !important;
		padding:1px 15px;
		border:1px solid #458fb4 !important;
		font-weight:500;
		border-radius:50px !important;
		text-transform:capitalize;
	}

	.btn-sm-blue:hover{
		background-color: #fff;
		color:#458fb4 !important;
		border:1px solid #458fb4;
	}

	.btn-sm-light{
		font-size: 14px;
		color: rgb(11, 57, 84) !important;
		background-color:#f8f9fa;
		text-align: center;
		text-transform: capitalize;
		min-width: 150px !important;
		height: 26px !important;
		padding:3px 15px;

		font-weight:500;
		border:1px solid #e2e6ea;
		border-radius:50px !important;
		text-transform:capitalize;
	}

	.btn-sm-light:hover{
		background-color: #e2e6ea;
		color:rgb(11, 57, 84);
	}

	.heading-md-blue{
		font-size: 19px;
		color: #fff;
		line-height: 1.2;
		text-align: center;
		/* font-weight: 600; */
		text-transform: capitalize;
		background: linear-gradient(to right, #468fb1 10%, #74a857 72%);
		padding: 10px;
		margin:0px !important;
		border-radius:10px 10px 0px 0px;

	}
	.heading-md-green{
		font-size: 20px;
		color: #74a857;
		line-height: 1.2;
		font-weight: 600;
	}

	.btn-top-margin-more{
		margin-top:100px !important;
	}

	.col-border-grey{

	}
	.main-body .left-menu{
		background: rgb(255,255,255);
		padding: 0px 0px;
		/*-webkit-box-shadow: 1px -2px 20px -10px #74a857;
		box-shadow: 1px -2px 20px -10px #74a857;
		-moz-box-shadow: 1px -2px 20px -10px #74a857;*/
		border-top:1px solid #eee;
		border-right:1px solid #eee;
	}

	.main-body .left-menu ul span{
		font-size: 14px;
		color: #74a857;
		text-transform: capitalize;
		line-height: 1.2;
		margin-left:-10px !important;
		font-weight:bold;
		margin-right: 90px;
	}

	.main-body .left-menu ul {
		list-style-type: none !important;
	}
	.main-body .left-menu ul li{
		padding:5px;
		min-width: 80%;
		transition:ease-in-out 0.4s;
		-moz-transition:ease-in-out 0.4s;
		-webkit-transition:ease-in-out 0.4s;
		border-bottom:1px solid #eee;
	}
	.main-body .left-menu ul li a{


		font-size: 14px;
		color: rgb(78,78,78);
		text-transform: capitalize;
		line-height: 1.2;
		font-weight: 500;
		/* font-weight: bold; */
	}

	.main-body .left-menu ul li:hover a{
		color:#fff !important;
	}
	.main-body .left-menu ul li:hover{
		padding-left:10px;
		border-left: 3px solid rgb(11,57,84);
		border-right: 3px solid rgb(11,57,84);
		background-color:#fff;
		color:#fff !important;

	}
	.main-body .left-menu ul .active, .main-body .left-menu ul .active:hover{
		background-color: rgb(11, 57, 84) !important;

	}
	.main-body .left-menu ul .active a, .main-body .left-menu ul .active a:hover{
		color:#fff !important
	}

	.main .main-body{
		padding:20px 0px !important;
	}

	.main .main-body .inner-body{
		border-top:1px solid #eee;
		padding-left:20px;
	}

	.main .main-body .inner-body-block{
		padding:10px 10px !important;
	}



	.main .main-body .inner-body-head{
		padding-right:0px;
		padding-left:10px;
	}

	.main .main-body .inner-body-head .heading-lg-green{
		text-transform: capitalize;
	}

	.main .main-body .inner-body-head .pull-right{
		padding:20px 0px !important;
	}
	.border-dark-1{
		border-style: solid;
		border-width: 1px;
		/*border-color: rgb(69, 85, 97);*/
		border-color: #ddd;
		border-radius:0px;
	}


	/* Main menu 69, 85, 97*/
	.main-menu{
		padding-top:40px;
	}

	.menu-item a{
		font-size: 14px;
		color: #707070;
		line-height: 1.2;
		text-align: left;
		font-weight: 500;
		padding: 0px 10px;
		text-transform: capitalize;
	}

	.menu-dropdown-item a{
		font-size: 14px;
		color: rgb(100, 102, 135);
		line-height: 1.2;
		text-align: left;
		font-weight:500;
		text-transform:capitalize;
	}

	.menu-item .dropdown-menu{
		padding:5px !important;

		min-width:200px !important;
		-webkit-box-shadow: 1px 2px 10px 1px #74a857;
		box-shadow: 1px 2px 10px 1px #74a857;
		-moz-box-shadow: 1px 2px 10px 1px #74a857;

	}

	.heading-md-grey{
		font-size: 19.466px;
		color: rgb(69, 85, 97);
		line-height: 1.2;
		text-transform: capitalize;
		font-weight:500 !important;

	}

	.Rectangle_9 {
		border-style: solid;
		border-width: 1px;
		border-color: rgb(17, 30, 108);
		background-color: rgb(255, 255, 255);
		position: absolute;
		left: 367px;
		top: 205px;
		width: 738px;
		height: 46px;
		z-index: 23;
	}



	.form-input{
		font-size: 14px;
		color: rgb(69, 85, 97);
		line-height: 1.2;
		font-weight:500;
		text-align: center;
		margin-top:5px;
		margin-bottom:5px;
		border:1px solid #ddd;
		height: 40px;
		border-radius:10px !important;

	}
	
	.home-input:focus{outline: none;}

	.input-effects{float: left; width: 100%; height:40px;margin:40px 0% 30px 0%; position: relative;} /* necessary to give position: relative to parent. */
	.home-input{font: 15px/24px , sans-serif; color: #a9a9a9; width: 100%; box-sizing: border-box; letter-spacing: 1px;}


	.home-input
	{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}
	.home-input:focus{
		border:1px;
	}
	.home-input ~ .focus-border{position: absolute; bottom: 0; left: 50%; width:0px;top:31px; height: 1px; background-color: #468fb1; transition: 0.4s;}
	.home-input:focus ~ .focus-border,
	.has-content.home-input ~ .focus-border{width:100%; transition: 0.4s; left: 0;top:30px;}
	.home-input ~ label{position: absolute; text-align:center; width: 100%; top: -20px; left:0px;color: #74a857; font-weight:500;transition: 0.5s; z-index: -1; letter-spacing: 0.5px; text-transform: capitalize;}
	.home-input:focus ~ label, .has-content.home-input ~ label{text-align:left;top: -15px; font-size: 12px; color: #468fb1; transition: 0.6s;}
	.home-input:focus ~ label{ left:0px;}

	::-webkit-input-placeholder { 	text-transform: capitalize; }
	::-moz-placeholder { 	text-transform: capitalize; } /* firefox 19+ */
	:-ms-input-placeholder { 	text-transform: capitalize; } /* ie */
	input:-moz-placeholder {	text-transform: capitalize;}

	::-webkit-textarea-placeholder { 	text-transform: capitalize; }
	::-moz-placeholder { 	text-transform: capitalize; } /* firefox 19+ */
	:-ms-textarea-placeholder { 	text-transform: capitalize; } /* ie */
	textarea:-moz-placeholder {	text-transform: capitalize;}


	.form-textarea{
		font-size: 14px;
		color: #ccc;
		line-height: 1.2;
		/* font-weight: 500; */
		margin-top: 5px;
		margin-bottom: 5px;
		border: 1px solid #ccc;
		border-radius: 10px;
	}

	.input-prepend{
		background:linear-gradient(-0deg, #fff, #ccc);
		border-width: 1px;
		border-color: #ccc;
		font-size: 14px;
		height: 40px;
		text-transform: capitalize;
		color:rgb(69, 85, 97) !important;
	}
	.form-input:focus, .form-input:hover, .form-textarea:focus, .form-textarea:hover{
		box-shadow: none !important;
		border:1px solid #468fb1 !important;


	}
	.form-input-lg{
		min-width:100%;
	}

	.form-footer{
		text-align:center;
		margin:20px auto 50px auto !important;
	}
	.footer-action{
		text-align:center;
		margin:5px auto !important;
	}
	.form-footer-left{
		text-align:left;
		margin-top:50px !important;
		margin-bottom:50px;
	}
	.paragraph-dark-md-capital{
		font-size: 14px;
		color: rgb(69, 85, 97);
		text-transform: capitalize;
		line-height: 1.2;
		text-align: center;
		-moz-transform: matrix( 1.00077014693368,0,0,1,0,0);
		-webkit-transform: matrix( 1.00077014693368,0,0,1,0,0);
		-ms-transform: matrix( 1.00077014693368,0,0,1,0,0);
		font-weight:500;
	}

	.form-paragraph{
		margin-bottom:0px !important;
	}
	.form-checkbox{
		margin-top:10px;
		margin-right:50px !important;
	}
	.select-text-center{
		text-align: center !important;
		text-align-last: center !important;
	}

	form .text-danger, form .text-success {
		font-size:13px;
		font-weight:600;
	}
	.store-status-text-success{
		color:#008000;
		font-size:13px;
		font-weight:600;
	}

	.store-status-text-danger{
		color:#dc3545;
		font-size:13px;
		font-weight:600;
	}
	.sub-block .border-dark-1{
		padding:10px;
	}

	.block-table{
		padding:none !important;
		margin-bottom:2px !important;

	}
	.block-table tr, .block-table td{
		border:0px !important;
		padding:0px !important;
	}
	.block-table td p, .sub-block .nauk-info-connections p{
		margin-bottom:0px !important;
	}

	.filter-block{
		padding:10px;
	}
	.border-green{
		border:1px solid #ddd;
	}
	.purchases .border-green{
		padding:10px 0px;
	}
	.purchase-table tbody td{
		border: 0px !important;
		padding: 5px 5px !important;
		vertical-align: middle;
		font-size: 13px !important;
	}

	.purchase-table thead th{
		border: 0px !important;
		padding: 5px 10px !important;
		font-weight: 500 !important;
		font-size: 14px;
		color: rgb(150,150,150);
		border-bottom: 1px solid #468fb1 !important;
		vertical-align: middle;
	}


	.block-border-dotted{
		border:2px #ccc;
		min-height:150px;
		border-style:dashed;
	}

	.block-file-upload{
		max-width:400px;
		margin:10px auto;
		padding:;
		padding:40px;
	}

	.btn-upload-file{

		z-index:-100;
		position:absolute;
		left: 40%;
		top:40%;
	}
	.file-input{
		opacity: 0;
		position:absolute;
		z-index:500;
		left:36%;
		top:40%;
		width:200px !important;
	}

	.btn-upload-file-product{

		z-index:-100;
		position:absolute;
		left:20%;
		top:40%;
	}
	.file-input-product{
		opacity: 0;
		position:absolute;
		z-index:500;
		left:20%;
		top:40%;
		width:200px !important;

	}

	.block-file-upload .heading-sm-grey{
		margin-bottom:100px !important;

	}

	.section-login-signup{
		padding:50px 50px 0px 50px;
		max-width:500px;
		margin:30px auto;
		border: 1px solid rgb(240,240,240);
		-webkit-box-shadow: 0px 3px 10px rgba(116,168,87,1);
		-moz-box-shadow: 0px 3px 10px rgba(116,168,87,1);
		box-shadow: 0px 3px 10px rgba(116,168,87,0.1);
	}
	.section-login-signup .home-input{
		max-width: 367px !important;
		margin:0px auto;
	}

	@media (max-width: 700px){
		.section-login-signup .home-input{
			width: 100% !important;
			margin:0px auto;
		}

		.btn-md-red{
			width:200px;
		}
	}

	.product{
		padding:7px !important;
		max-width:235px;
	}
	.product .paragraph-text-sm-grey, .product .paragraph-text-sm-grey, .product .paragraph-text-sm-blue{
		padding-left:5px;
		padding-right:5px;
	}


	.product .paragraph-text-sm-grey{
		margin-bottom:1px;
	}
	.paragraph-text-sm-blue{
		font-size: 15px;
		color: #468fb1;
		font-weight:600;
		margin-bottom:2px;
	}
	.product-image{
		width:100%;
		height:120px; 
		margin-bottom:5px;
	}
	.product-detail-text-red{
		width: 60%;
		margin: 6px auto;
		padding: 5px;
		border-radius: 50px;
		border: 1px solid rgb(240,240,240);
		background-image: linear-gradient(#74a857,#fff);
		/* border: 2px solid #74a857; */
		color: #74a857 !important;

	}
	.product-detail-text-red:hover{
		background-image: linear-gradient(#fff,#468fb1) !important;
	}
	.product-detail-text-red a{
		color:#000;
		font-weight:500;
		font-size:14px;
	}
	.product-detail{
		background:#fff;
		padding:5px 0px;
	}
	.product-view{
		padding-bottom:20px;		
	}

	.product:hover .product-detail{
		opacity: 1;

		filter: alpha(opacity=100);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	.product .product-detail{
		display: inline-block;
		text-decoration: none;
		position:absolute;
		top:8px;
		left: 8px;
		right: 10px;
		width: 93.5%;
		z-index:200;
		color: #fff;
		border: 1px solid #eee;
		background-color: #fff;
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		-webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}



	.manage-purshase-block-1{
		padding:20px !important;
	}

	table .actions{

	}
	/*custom dropdown*/
	.custom-dropdown{

	}

	.custom-dropdown .w3-dropdown-hover{
		width:115% !important;
		padding:5px 15px !important;
		margin-left:-15%;
		background:rgb(235,245,230) !important;

	}
	.custom-dropdown button{
		color:#74a857 !important;
		font-size:14px;
		font-weight:500;
		padding:0px;
		background:rgb(235,245,230) !important;
		min-height: 35px;
	}
	.custom-dropdown button:hover{
		color:#74a857 !important;
		font-size:14px;
		font-weight:500;
		padding:0px;
		background:rgb(235,245,230) !important;
	}

	.custom-dropdown .fa{
		float: right;
		padding-top: 7px;
		color: #74a857;
		font-size: 18px;
		font-weight: 600;
	}

	.custom-dropdown .w3-dropdown-content{
		cursor: auto;
		color: #468fb1;
		font-weight:500;
		font-size:14px;
		background-color: #fff;
		display: none;
		position: absolute;
		min-width: 100%;
		margin: 0;
		left: 0;
		padding: 0;
		top:45px;
		z-index: 1;

	}


	.custom-dropdown .actve-content{
		background:#74a857 !important;
		font-weight:500 !important;
		color:#fff !important;  
	}

	/*///////// DRop down ////////////*/
	.home-dropdown{
		transform: translate3d(-20px, 22px, 0px) !important;
	}

	.header-dropdown{
		left: -70px !important; 
	}

	.header-dropdown-toggle:after {
		opacity:0 !important;
	}
	.header-dropdown>li>a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: 400;
		line-height: 1.42857143;

		white-space: nowrap;
	}

	.header-dropdown>li>a {
		padding: 5px;
		margin-bottom:2px;
		padding-left: 20px;
	}
	.header-dropdown>li>a:hover{
		color:#fff;
	}
	.header-dropdown li a {
		-webkit-transition: all 0.7s ease;
		transition: all 0.7s ease;
		-o-transition: all 0.7s ease;
	}
	.header-dropdown-toggle {
		background:transparent !important;
		border:none;
		padding: 20px;
	}
	.hvr-bounce-to-right {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
		position: relative;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: .5s;
		transition-duration: .5s;
	}

	.hvr-bounce-to-right:before {
		background: #468fb1 !important;
	}

	.hvr-bounce-to-right:active:before,
	.hvr-bounce-to-right:focus:before,
	.hvr-bounce-to-right:hover:before {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, .37, .66);
		transition-timing-function: cubic-bezier(0.52, 1.64, .37, .66);
	}

	.hvr-bounce-to-right:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #ccc;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: .5s;
		transition-duration: .5s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	/**/

	.canvasjs-chart-credit{

	}

	/*Pricing content*/
	.packages{
		padding:0px;
		max-height: 450px;
		overflow-y: scroll;
		border-radius: 10px !important;
	}

	.packages .package-block{
		padding:20px 20px 0px 20px;
		border:none;
		border-bottom:1px solid #ddd !important;
	}
	.packages .package-block:hover{
		border-bottom:1px solid #74a857;
		background:rgb(255,255,255);
		box-shadow: 0px 1px 5px 2px #eee;
		-moz-box-shadow: 0px 0px 5px 2px #eee;
		-webkit-box-shadow: 0px 0px 5px 2px #eee;
	}
	.package-detail{
		border-radius: 10px;
		-moz-border-radius: 10px
		-webkit-border-radius: 10px;
		padding:20px;
		transition: ease-in-out 0.3s;
		-webkit-box-shadow: 2px 2px 5px 2px rgb(248,248,248);
		-moz-box-shadow: 2px 2px 5px 2px rgb(248,248,248);
		box-shadow: 2px 2px 5px 2px rgb(248,248,248);
		background: #fcfcfc;
	} 

	.package-detail .image img{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		vertical-align:middle;
		width:100%;
		max-width:150px;
	}

	.package-detail .detail{

	}

	.package-detail .price{

	}

	.package-detail .description{
		padding-top:40px;
	}
/*
	.vertical-tabs .tab-content>.active{display:block;}
	.vertical-tabs .nav.nav-tabs{display:block;}
	*/

	/* ----------------------------------*/

	/*  bhoechie tab */
	.pricing-btn{
		min-width:120px !important;
	}

	div.bhoechie-tab-container{
		background-color: #fcfcfc;
		padding: 0 !important;
		border-radius: 7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		margin-top: 20px;
		box-shadow: 0px 0px 20px 10px rgb(248,248,248);
		-moz-box-shadow: 0px 0px 20px 10px rgb(248,248,248);
		-webkit-box-shadow: 0px 0px 20px 10px rgb(248,248,248);
		background-clip: padding-box;
		filter: alpha(opacity=97);
	}
	div.bhoechie-tab-menu{
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 0;
	}
	div.bhoechie-tab-menu div.list-group{
		margin-bottom: 0;
	}
	div.bhoechie-tab-menu div.list-group>a{
		margin-bottom: 0;
	}
	div.bhoechie-tab-menu div.list-group>a .glyphicon,
	div.bhoechie-tab-menu div.list-group>a .fa {
		color: #5A55A3;
	}
	div.bhoechie-tab-menu div.list-group>a:first-child{
		border-top-right-radius: 0;
		-moz-border-top-right-radius: 0;
	}
	div.bhoechie-tab-menu div.list-group>a:last-child{
		border-bottom-right-radius: 0;
		-moz-border-bottom-right-radius: 0;
	}
	div.bhoechie-tab-menu div.list-group>a.active{
		background-color: #fcfcfc;
		box-shadow: 0px 1px 5px 2px #eee;
		-moz-box-shadow: 0px 0px 5px 2px #eee;
		-webkit-box-shadow: 0px 0px 5px 2px #eee;
	} 

	div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
	div.bhoechie-tab-menu div.list-group>a.active p{

		/*background-image: #5A55A3;*/
		/*color: #ffffff;*/
		border-color:transparent;
	}
	div.bhoechie-tab-menu div.list-group>a.active{

	}


	div.bhoechie-tab-content{
		/*background-color: #ffffff;*/
		/* border: 1px solid #eeeeee; */
	/*padding-left: 20px;
	padding-top: 10px;*/
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
	display: none;
}
/*Pricing content*/

/*custome styling*/
.width-120{
	max-width:120px;
}
.overflow-hidden{
	overflow: hidden;
	text-overflow: ellipsis;
}
/*custom styling*/

/* Pagination*/
.dataTables_paginate  .pagination{
	padding:10px !important;
	margin-top:10px !important;

}

.pagination .paginate_button{
	margin-right:5px;
}
.pagination .paginate_button a{
	border:1px solid #74a857;
	color:#74a857;
	padding:5px 10px;
	border-radius:5px;
	outline:none;
	box-shadow:none;
}
.pagination .paginate_button a:focus{
	outline:none;
	box-shadow:none;
}

.pagination .active  a, .pagination .paginate_button a:hover{
	background:#74a857;
	color:#fff;
}

.pagination .previous a,.pagination .next a {
	border:1px solid #458fb4 !important;
	color:#458fb4 !important;
}
.pagination .previous a:hover,.pagination .next a:hover{
	background:#458fb4 !important;
	color:#fff !important;
}



/* Pagination*/
/*text sizes*/
.text-5 {
	font-size: 5px;
}
.text-6 {
	font-size: 6px;
}

.text-7 {
	font-size: 7px;
}
.text-8 {
	font-size: 8px;
}

.text-9 {
	font-size: 9px;
}

.text-10 {
	font-size: 10px;
}

.text-11 {
	font-size: 11px;
}

.text-12 {
	font-size: 12px;
}

.text-13 {
	font-size: 13px;
}

.text-14 {
	font-size: 14px;
}

.text-15 {
	font-size: 15px;
}

.text-16 {
	font-size: 16px;
}

.text-17 {
	font-size: 17px;
}

.text-18 {
	font-size: 18px;
}

.text-19 {
	font-size: 19px;
}

.text-20 {
	font-size: 20px;
}

.text-21 {
	font-size: 21px;
}

.text-22 {
	font-size: 22px;
}

.text-23 {
	font-size: 23px;
}

.text-24 {
	font-size: 24px;
}

.text-25 {
	font-size: 25px;
}

.text-26 {
	font-size: 26px;
}

.text-27 {
	font-size: 27px;
}

.text-28 {
	font-size: 28px;
}

.text-29 {
	font-size: 29px;
}

.text-30 {
	font-size: 30px;
}

.text-31 {
	font-size: 31px;
}

.text-32 {
	font-size: 32px;
}

.text-33 {
	font-size: 33px;
}

.text-34 {
	font-size: 34px;
}

.text-35 {
	font-size: 35px;
}

.text-35 {
	font-size: 36px;
}

.text-36 {
	font-size: 37px;
}

.text-37 {
	font-size: 38px;
}

.text-38 {
	font-size: 39px;
}

.text-39 {
	font-size: 39px;
}

.text-40 {
	font-size: 40px;
}

.text-41 {
	font-size: 41px;
}

.text-42 {
	font-size: 42px;
}

.text-43 {
	font-size: 43px;
}

.text-44 {
	font-size: 44px;
}

.text-45 {
	font-size: 45px;
}

.text-46 {
	font-size: 46px;
}

.text-47 {
	font-size: 47px;
}

.text-48 {
	font-size: 48px;
}

.text-49 {
	font-size: 49px;
}

.text-50 {
	font-size: 50px;
}
.text-black{
	color:#000;
}